{% extends "layout.html" %}

{% block author_name %}the Team{% endblock %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block side_bar %}
<div id="landingpage" style="width:20%">
  <ul>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content" href="#team">
                <span class="linkname">Team</span></a>
              </div>
          </li>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content1" href="#advisors">
                <span class="linkname">Advisors</span></a>
              </div>
          </li>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content2" href="#acknowledgement">
                <span class="linkname">Support</span></a>
              </div>
          </li>
  </ul>
</div>
<!-- hide sidebar -->
{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<div id="content">
<h2 id="team">Team Members</h2>
<p><img src="https://static.igem.wiki/teams/4162/wiki/form.png"></p>
<br/><br/>

<h3 id="yihan-fang">Yihan Fang</h3>
<p>Yihan, our dear team leader, who’s responsible for the Human Practice, Education, and Entrepreneurship, also partially participates in the Design. It’s his hard work that leads us to finishing this project. Here are the pages he has taken part in:<br>
<a href="/fudan/index.html">/fudan/index.html</a><br>
<a href="/fudan/contribution">/fudan/contribution</a><br>
<a href="/fudan/human-practices">/fudan/human-practices</a><br>
<a href="/fudan/education">/fudan/education</a><br>
<a href="/fudan/communication">/fudan/communication</a><br>
<a href="/fudan/entrepreneurship">/fudan/entrepreneurship</a></p>
<h3>Weiwen Chen</h3>
<p>Weiwen, in charge of Design and Registry, project design, participates in the wet lab. He also writes the contribution and parts pages. Here are the pages he has taken part in:<br>
<a href="/fudan/contribution">/fudan/contribution</a><br>
<a href="/fudan/parts">/fudan/parts</a><br>
<a href="/fudan/part-collection">/fudan/part-collection</a><br>
<a href="/fudan/improve">/fudan/improve</a><br>
<a href="/fudan/engineering">/fudan/engineering</a></p>
<h3>Weiyi Li</h3>
<p>Weiyi, major in the Education and Communication. She managed to connect our project and synthetic biology to art and education which cover the whole school age. Here are the pages she has taken part in:<br>
<a href="/fudan/index.html">/fudan/index.html</a><br>
<a href="/fudan/human-practices">/fudan/human-practices</a><br>
<a href="/fudan/education">/fudan/education</a><br>
<a href="/fudan/collaborations">/fudan/collaborations</a></p>
<h3>Zhiyue Chen</h3>
<p>Zhiyue, responsible for PartHub, our Software, front and back end code, Model plan and graphic, Wiki template design and content input. Here are the pages he has taken part in:<br>
<a href="/fudan/proof-of-concept">/fudan/proof-of-concept</a><br>
<a href="/fudan/model">/fudan/model</a><br>
<a href="/fudan/software">/fudan/software</a></p>
<h3>Yujian Song</h3>
<p>Yujian, responsible for project and Parts design, iHP in the lab, wet lab, Measurement, Partnership and Promotion video. Here are the pages she has taken part in:<br>
<a href="/fudan/measurement">/fudan/measurement</a><br>
<a href="/fudan/human-practices">/fudan/human-practices</a></p>
<h3>Zihan Wang</h3>
<p>Zihan, responsible for Inclusivity, and Sustainable Impacts. She also works partially on the Education and the wiki content. Here are the pages she has taken part in:<br>
<a href="/fudan/sustainable">/fudan/sustainable</a><br>
<a href="/fudan/inclusivity">/fudan/inclusivity</a></p>
<h3>Yunjia Liu</h3>
<p>Yunjia, responsible for the fuzzy search in our Software. She also constructs the Diffusion model in the Modeling. Here are the pages she has taken part in:<br>
<a href="/fudan/model">/fudan/model</a><br>
<a href="/fudan/software">/fudan/software</a></p>
<h3>Zihan Zhang</h3>
<p>Zihan, responsible for all Wiki animations, and js scripts.</p>
<h3>Zhongyi Yang</h3>
<p>Zhongyi, participates in the Parts, is an experimenter in the wet lab. He also does partial work on the Design. Here are the pages he has taken part in:<br>
<a href="/fudan/description">/fudan/description</a><br>
<a href="/fudan/implementation">/fudan/implementation</a><br>
<a href="/fudan/experiments">/fudan/experiments</a><br>
<a href="/fudan/proof-of-concept">/fudan/proof-of-concept</a><br>
<a href="/fudan/safety">/fudan/safety</a></p>
<h3>Yutong Zhang</h3>
<p>Yutong, responsible for team logo design, Slide design, and other artworks.</p>
<h3>Xinyang Xu</h3>
<p>Xinyang, responsible for team logo design and art design for the Wiki, creates artwork for our team.</p>
<h3>Yiyun Pan</h3>
<P>Yiyun, responsible for team logo design and art design for our Wiki, creates artwork for Wiki front page, Education, and badges. Here are the pages she has taken part in:<br>
<a href="/fudan/attributions">/fudan/attributions</a></p>
<h3>Yuanhao Lin</h3>
<p>Yuanhao Lin, provides the foot script for our promotion video and does partial work on Design. Here are the pages she has taken part in:<br>
<a href="/fudan/description">/fudan/description</a><br>
<a href="/fudan/implementation">/fudan/implementation</a></p>
</div>
<hr/>
<div id="content1">
<h3 id="supervisors">Supervisors</strong></h3>
<p>Daru Lu, our PI, secure our funding and help us contact stakeholders.</p>
<p>Liang Cai, our respectful instructor. We acknowledge him not only for providing us with lab resources but also for his valuable advice and timely instruction.</p>
<h3 id="advisors">Advisors</h3>
<p>Yan Liu (<a href="http://2017.igem.org/Team:Fudan/Team" target="_blank">2017 Fudan</a> iGEMer), expert in RNA biology, first hand experience with various ribozymes from her Ph.D. study.</p>
<p>Kana Ren, Peisong Yan, Renbin Liu, Shitao Gong, consultation in parts design, experiments, modeling, oral defense and Wiki revision</p>
</div>
</div>

<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h2 id="acknowledgement">Acknowledgement</h2>
<h3 id="education-support">Education Support</h3>
<p>We sincerely appreciate their professional instruction and inspiring advice<br>
Prof. Yang Ling, consultation in the improvement of public engagement in the science popularization activity.</p>
<p>Miss Yanyang Sun from “Same As Child” Science Book Creation Project For Child, consultation in the enhancement to the books’ attractivity to children.</p>
<p>Miss Wenqian Sun, curator of Mind Temple and executive director of MoCA Shanghai</p>
<p>Mr. Boyong Ma, consultation in the state of development of the popularization of science and improving the writing skill of science popularization works.</p>
<h3 id="entrepreneurship-support">Entrepreneurship Support</h3>
<p>We gratefully acknowledge their contributions<br>
Prof. Yong Wang, instruction in experiment design and optimization.</p>
<p>Mr. Linkun Qiao, consultation in feasibility of project industrialization.</p>
<p>Prof. Chengfeng Zhang, xxxx</p>
<p>Miss Lin (Mengdesijiu), insight on skin care products selection and stereotype in skincare field.</p>
<p>Miss Xinru Li, xxx</p>
<p>All the participants of our surveys</p>
<h3 id="lab-support">Lab Support</h3>
<p><p>Thanks for their timely advice of our experiments<br>
Prof. Motoyuki Hattori, advice on BCMO detection method and how to improve the expression of BCMO.</p>
<p>Prof. Guoliang Lu, advice on the detection of membrane protein expression, strain selection, <i>etc</i>.</p>
<p>Prof. Chen Liu, xxxx</p>
<h3 id="modeling-support">Modeling Support</h3>
<p>Thanks for his assistance in modeling<br>
Jianming Zhou, looking for molecule and reaction code from the previous wiki.</p>
<h3 id="software-support">Software Support</h3>
<p>Thanks for their assistance in software coding<br>
Shitao Gong, Sunzhe Kang</p>
  </div>
<h3 id="other-acknowledge">Travel Advice and Others</h3>
<p>Wenjing Ai, for travel advice and health suggestion</p>
<p>SnapGene, for DNA sequence analyzing tool</p>
<p>Anhui Anke Biotechnology (Group) Co., Ltd. for providing travel kits</p>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
