{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block side_bar %}
<div id="landingpage" style="width:20%">
  <ul>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content" href="#team">
                <span class="linkname">Team</span></a>
              </div>
          </li>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content1" href="#advisors">
                <span class="linkname">Advisors</span></a>
              </div>
          </li>
    <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content2" href="#acknowledgement">
                <span class="linkname">Support</span></a>
              </div>
          </li>
  </ul>
</div>
<!-- hide sidebar -->
{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<div id="content">
<h2 id="team">Team Members</h2>
<hr/>
<h3 id="yihan-fang">Yihan Fang</h3>
<p>Yihan Fang, our dear team leader, who's responsible for the Human Practice, Education, and Entrepreneurship parts, also partially participates in the Design part. It's his hard work that leads us to finishing this project. Here are the pages he has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/">https://2022.igem.wiki/fudan/</a><br>
<a href="https://2022.igem.wiki/fudan/contribution">https://2022.igem.wiki/fudan/contribution</a><br>
<a href="https://2022.igem.wiki/fudan/human-practices">https://2022.igem.wiki/fudan/human-practices</a><br>
<a href="https://2022.igem.wiki/fudan/education">https://2022.igem.wiki/fudan/education</a><br>
<a href="https://2022.igem.wiki/fudan/communication">https://2022.igem.wiki/fudan/communication</a><br>
<a href="https://2022.igem.wiki/fudan/entrepreneurship">https://2022.igem.wiki/fudan/entrepreneurship</a></p>
<h3>Weiwen Chen</h3>
<p>Weiwen Chen, in charge of the Parts part and the Design part, participates in the wet lab. He also writes the contribution and parts pages. Here are the pages he has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/contribution">https://2022.igem.wiki/fudan/contribution</a><br>
<a href="https://2022.igem.wiki/fudan/parts">https://2022.igem.wiki/fudan/parts</a></p>
<h3>Weiyi Li</h3>
<p>Weiyi Li, responsible for the Education and communication parts. She managed to connect our project and synthetic biology to art and education which cover the whole school age. Here are the pages she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/">https://2022.igem.wiki/fudan/</a><br>
<a href="https://2022.igem.wiki/fudan/human-practices">https://2022.igem.wiki/fudan/human-practices</a><br>
<a href="https://2022.igem.wiki/fudan/education">https://2022.igem.wiki/fudan/education</a><br>
<a href="https://2022.igem.wiki/fudan/collaborations">https://2022.igem.wiki/fudan/collaborations</a></p>
<h3>Zhiyue Chen</h3>
<p>Zhiyue Chen, responsible for the Software part, creates Parthub through his talent and hard work, and also participates in the Modeling and Parts parts. He also helps with wiki coding before Wiki freeze. Here are the pages he has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/proof-of-concept">https://2022.igem.wiki/fudan/proof-of-concept</a><br>
<a href="https://2022.igem.wiki/fudan/model">https://2022.igem.wiki/fudan/model</a><br>
<a href="https://2022.igem.wiki/fudan/software">https://2022.igem.wiki/fudan/software</a></p>
<h3>Yujian Song</h3>
<p>Yujian Song, responsible for the Design part, is the main experimenter in the wet lab. She participates in the basic parts part, the Human Practice parts, our promotion video, and several Wiki pages. Here are the pages she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/measurement">https://2022.igem.wiki/fudan/measurement</a><br>
<a href="https://2022.igem.wiki/fudan/human-practices">https://2022.igem.wiki/fudan/human-practices</a></p>
<h3>Zihan Wang</h3>
<p>Zihan Wang, responsible for the Education, Inclusivity, and Sustainable Impacts parts. She also works partially on the wiki content. Here are the pages she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/sustainable">https://2022.igem.wiki/fudan/sustainable</a><br>
<a href="https://2022.igem.wiki/fudan/inclusivity">https://2022.igem.wiki/fudan/inclusivity</a></p>
<h3>Yunjia Liu</h3>
<p>Yunjia Liu, responsible for the fuzzy search in the Software part. She also constructs the Diffusion model in the Modeling part.Here are the pages she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/model">https://2022.igem.wiki/fudan/model</a><br>
<a href="https://2022.igem.wiki/fudan/software">https://2022.igem.wiki/fudan/software</a></p>
<h3>Zihan Zhang</h3>
<p>Zihan Zhang: responsible for wiki coding.</p>
<h3>Zhongyi Yang</h3>
<p>Zhongyi Yang, participates in the Parts part, is an experimenter in the wet lab. He also does partial work on the Design part. Here are the pages he has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/description">https://2022.igem.wiki/fudan/description</a><br>
<a href="https://2022.igem.wiki/fudan/implementation">https://2022.igem.wiki/fudan/implementation</a><br>
<a href="https://2022.igem.wiki/fudan/experiments">https://2022.igem.wiki/fudan/experiments</a><br>
<a href="https://2022.igem.wiki/fudan/proof-of-concept">https://2022.igem.wiki/fudan/proof-of-concept</a><br>
<a href="https://2022.igem.wiki/fudan/safety">https://2022.igem.wiki/fudan/safety</a></p>
<h3>Yutong Zhang</h3>
<p>Yutong Zhang, responsible for team logo design, Slide design, and other artworks.</p>
<h3>Xinyang Xu</h3>
<p>Xinyang Xu, responsible for team logo design and art design for the Wiki, creates artwork for our team. Here is the page she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/">https://2022.igem.wiki/fudan/</a></p>
<h3>Yiyun Pan</h3>
<P>Yiyun Pan, responsible for team logo design and art design for the Wiki, creates artwork for our team. Here is the page she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/attributions">https://2022.igem.wiki/fudan/attributions</a></p>
<h3>Yuanhao Lin</h3>
<p>Yuanhao Lin, provides the foot script for our promotion video and does partial work on design and education. Here are the pages she has taken part in:<br>
<a href="https://2022.igem.wiki/fudan/description">https://2022.igem.wiki/fudan/description</a><br>
<a href="https://2022.igem.wiki/fudan/implementation">https://2022.igem.wiki/fudan/implementation</a></p>
</div>
<hr/>
<div id="content1">
<h3 id="supervisors">Supervisors</strong></h3>
<p>Daru Lu, our PI instructor, secure our funding and help us contact stakeholders.</p>
<p>Liang Cai, our respectful instructor. We acknowledge him not only for providing us with lab resources but also for his valuable advice and timely instruction.</p>
<h3 id="advisors">Advisors</h3>
<p>Yan Liu (<a href="http://2017.igem.org/Team:Fudan/Team" target="_blank">2017 Fudan</a> iGEMer), xxxxx</p>
<p>Kana Ren, xxxxx</p>
<p>Peisong Yan, Renbin Liu, Shitao Gong, Chongwen Cao, consultation in parts design, modeling, oral defense and wiki revision</p>
</div>
</div>

<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h2 id="acknowledgement">Acknowledgement</h2>
<h3 id="education-support">Education Support</h3>
<p>We sincerely appreciate their professional instruction and inspiring advice<br>
Prof. Yang Ling, xxxx</p>
<p>Miss Yanyang Sun from “Same As Child” Science Book Creation Project For Child</p>
<p>Miss Wenqian Sun, curator of Mind Temple and executive director of MoCA Shanghai</p>
<p>Mr. Boyong Ma, xxxx</p>
<h3 id="entrepreneurship-support">Entrepreneurship Support</h3>
<p>We gratefully acknowledge their contributions<br>
Prof. Yong Wang, xxxx</p>
<p>Mr. Linkun Qiao, xxxx</p>
<p>Prof. Chengfeng Zhang, xxxx</p>
<p>Miss Lin (Mengdesijiu) of Fudan University, xxxx</p>
<p>Miss Xinru Li, xxxx</p>
<p>And, all the participants in our surveys</p>
<h3 id="lab-support">Lab Support</h3>
<p>Thanks for their faithful advice in the experimental operation<br>
Prof. Motoyuki Hattori, membrane expression in bacteria and validation</p>
<p>Prof. Guoliang Lu, timely advise on 96-well plate culture, polycistronic expression</p>
<p>Prof. Chen Liu, xxxx</p>
<h3 id="modeling-support">Modeling Support</h3>
<p>Thanks for his assistance in modeling<br>
Jianming Zhou, xxxx</p>
<h3 id="software-support">Software Support</h3>
<p>Thanks for his assistance in software coding<br>
Shitao Gong, xxxx</p>
<p>Sunzhe Kang, xxxx</p>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
