{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}
{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADJUST highlight pictures BELOW -->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              A quick, efficient and powerful tool for building and designing new parts
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Provide multiple ways for searching for previously designed parts
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Visualization of the relationship between parts
            </h1>
          </div>
        </div>
          <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Can be used across various platforms and no need for downloading and setting up the environment
            </h1>
          </div>
        </div>

      </div>
      <a href="#mycarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a href="#mycarousel" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div><!-- close col-md-8 -->
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>Even under the emergent pandemic for more than 4 months, we are still fortunate to participate in multiple communication events and have the chance to have deep conversations with many other iGEM teams. We have grown a lot from them, and these are our fruits and takeaways.</p>
<h2 id="ccic-sharing-and-communication">CCiC Sharing And Communication</h2>
<p><strong>CCiC (Conference Of Chinese iGEMer Community)</strong> is a national summit initiated by Chinese iGEM teams and hosted by one university in China every year. It aims to provide a platform for China iGEM teams to <strong>share resources</strong> and <strong>promote mutual learning and communication</strong>.</p>
<p>This year, the 9th CCiC is titled <strong>“Life Meets Everything”</strong>, which aims to focus on the magical power of interactions between lives, to care about the intimate communication between people, iGEMers and each other, and to support the development of synthetic biology in various fields, and finally to gain a sense of harmony in the philosophy of <strong>“Life Finds A Way”</strong>.</p>
<p>The conference was held online from <strong>August 18-22, 2022</strong>. It was divided into 12 tracks according to the official tracks. Besides, all of participating teams were divided into the video presentation group or the poster presentation group. These 2 groups were set up at different time, so that teams from different provinces in China could have <strong>fair, friendly and deep communication</strong> without interruptions.</p>
<p>Team Fudan brought the design and outlook of their project to the participating teams. Our presentation was well appraised by all of the participants and the committee.</p>
<p>Team Fudan successfully won several awards during this year’s CCiC. We won the <strong>Best Human Practice Design</strong>, <strong>Best Educational Design</strong> and made it to <strong>the top 3 in Best Presentation finalist</strong>.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/fudan-participation.jpg" alt="Participation certificate"></p>
<p><strong>Participation certificate</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/fudan-besthp.jpg" alt="Best HP Design Award"></p>
<p><strong>Best HP Design Award</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/fudan-bestedu.jpg" alt="Best Education Design Award"></p>
<p><strong>Best Education Design Award</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/fudan-bestpre.jpg" alt="Best Presentation Award"></p>
<p><strong>Best Presentation Award</strong></p>
<h2 id="collaborative-education-event-with-numerous-universities">Collaborative Education Event With Numerous Universities</h2>
<p>This year, ShanghaiTech University, together with 8 other universities in China, brought a <strong>6-session synthetic biology science-popularization event</strong> in the summer. The event includes 6 different topics: <strong>space exploration, optogenetics, metabolism, engineering, biomaterials and agriculture &amp; forestry</strong>.</p>
<p>Fudan, as <strong>the leading lecture team of the engineering session</strong>, contributed a full-of-real-stuff lecture on the science of synthetic biology industry on 12th, August. In this lecture, we shared: the underlying technology of synthetic biology, the design-build-test-learn cycle of synthetic biology, the synthetic biology industry chain and its development landscape.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/education/shanghai-tech/collaboration-with-shanghaitech.jpg" alt="The engineering session poster of Collaborative Education Event"></p>
<p><strong>The engineering session poster of Collaborative Education Event</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/education/shanghai-tech/shanghaitech-communication-lecture.png" alt="One slide of our lecture: the design-build-test-learn cycle"></p>
<p><strong>One slide of our lecture: the design-build-test-learn cycle</strong></p>
<h2 id="icii-communication-and-promotion">ICII Communication And Promotion</h2>
<p><strong>ICII (Into China Into iGEM)</strong> is an annual educational event hosted by NAU-CHINA and has been successfully held twice since 2021.</p>
<p>In 2022, it was co-hosted by BIT-China team and ZJU-China, with the participation of 12 teams from famous universities in China.</p>
<p>We hope to make a greater impact on synthetic biology through the joint endeavor of multiple teams throughout the country. <strong>We hope to reach every city</strong>, so as to <strong>realize the common wish of science popularization and iGEM event promotion</strong>; and to <strong>present the new technology and new ideas in a more concrete form</strong>, so that <strong>people can easily understand and have a deeper impression</strong>.</p>
<p>At the same time, we hope to <strong>let the iGEM community see the culture of different cities in China</strong>, <strong>the power of science and technology in China</strong>, and <strong>the enthusiasm of Chinese people for biotechnology development</strong> through the final video, so that the world can know China further through ICII.</p>
<p>These presentations are like seeds being sowed. We plant the seeds for children and youth to improve society and change the world with synthetic biology. Together, we look forward to their germination and growth tomorrow.</p>
<p>This year, the Fudan team brought the science of the industrial view of the skincare economy to the audience.</p>
<p>The main content we shared covered: the definition of skincare products, the composition of skincare products, the production model of skincare ingredients, the survival of celebrity skincare products, and how we choose skincare products.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/education/fudan-x-icii/icii-logo.png" alt="ICII Logo"></p>
<p><strong>ICII Logo</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/1-im2.jpeg" alt="ICII 2022 Poster"></p>
<p><strong>ICII 2022 Poster</strong></p>
<p>![ICII Fudan Lecture Poster](<img src="https://static.igem.wiki/teams/4162/wiki/education/fudan-x-icii/poster-of-fang-s-lecture-in-icii.png" alt=""></p>
<p><strong>ICII Fudan Lecture Poster</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/education/fudan-x-icii/icii-forum.png" alt="ICII Fudan Lecture"></p>
<p><strong>ICII Fudan Lecture</strong></p>
<p>Apart from this, we have co-produced this year’s ICII promotion video, with local culture and university scenery through our lens. We hope our ICII event would help the world see and celebrate our enthusiasm and energy.</p>
<p>插入视频：<a href="https://video.igem.org/w/atzDULF9VuG8Xifni12fd4">https://video.igem.org/w/atzDULF9VuG8Xifni12fd4</a></p>
<h2 id="a-co-created-manual-mutual-assistance-and-invaluable-reflections-of-igemers-in-shanghai-under-emergent-pandemic">A Co-created Manual: Mutual Assistance And Invaluable Reflections of iGEMers in Shanghai under Emergent Pandemic</h2>
<p>From <strong>early March to late June</strong>, an unexpected COVID pandemic hit and haunted Shanghai. The majorites of iGEM teams in the city had nearly <strong>zero access to the lab resources</strong>, and thus had no clue about their own project feasibility in the lab.</p>
<p>Looking back to the 4 months of forced unproductiveness, numerous teams in Shanghai discreetly <strong>reflected on what they have done and what lessons they have learned</strong> in the <strong>mutual assistance electronic manual</strong>.</p>
<p>This mutual assistance document not only <strong>shows the confidence and courage</strong> of the iGEM teams from Shanghai <strong>in the face of the unexpected pandemic</strong>, but also proves that <strong>human wisdom will not be defeated by any adversities such as the pandemic</strong>.</p>
<p>As the saying goes, “<strong>All hands make light work</strong>”. We believe that this co-created manual of our thoughts will <strong>help future iGEM teams</strong> from around the world. And even more broadly, we hope that all of the people from around the world who are trekking through their life journey will <strong>get their own tips on how to conquer adversity and break the ice</strong>.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/communication/mutual-assistance-manual.png" alt=""></p>
<p>插入pdf文件</p>

  </div>
</div>