{% extends "layout.html" %}

{% block author_name %}Weiyi LI{% endblock %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>Due to code issue, we provide a PDF file at <a target="_blank" href="https://static.igem.wiki/teams/4162/wiki/edu.pdf">here</a></p>

  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
