{% extends "layout.html" %}

{% block page_author %}Yihan FANG{% endblock %}
  
{% block title %}Entrepreneurship{% endblock %}
{% block lead %}The entrepreneurship prize recognizes exceptional effort to build a business case and commercialize an iGEM project.{% endblock %}

{% block side_bar %}

<br><br><br><br>to be added
<br><br><br><br>to be added
<br><br><br><br>to be added

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">

<div style="width:58%;margin-left:25%"><br><br><br><br><br><br><a href="https://static.igem.wiki/teams/4162/wiki/entrepreneurship2.pdf"><img src="https://static.igem.wiki/teams/4162/wiki/entre-products-4000.png"></a></div>

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
<h2 id="overview">Overview</h2>
<p>Our  project “Rester” establishes a prototype for future Vitamin A cell factories. These little “factories” are anticipated to produce retinol other forms of Vitamin A derivatives with great efficiency and sustainablility.</p>
<p>Let us envision: in the future, we successfully integrate this cell factory product line into a self-owned brand or another big company or brand. At that time, we are ambitious to launch a series of skincare products with our bioproducted Vitamin A derivatives and make it smash the domestic and even the overseas market. We are going to name it <em><strong>Rester</strong></em>, too.</p>
<p>It will be a definitely exciting journey. But what we need to do at this moment is to make a comprehensive development plans of our products.</p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
  <h2 id="unmet-needs--potential-customers">Unmet Needs &amp; Potential Customers</h2>
<p>Before we start to develop a skincare product, try to make it marketed and invest a lot of money and energy, the first thing we should do is to ask ourselves: <strong>Is the skincare product we are going to develop worth being thoroughly studied?</strong> <strong>What are the market prospects and economic benefits behind it?</strong></p>
<p>Vitamin A is a common effective constituent in anti-aging skincare products, and we must pay attention to the current use of Vitamin A in the chemical manufacturing industry and in skincare products.</p>
<hr>
<h3 id="unmet-needs-from-the-vitamin-a-chemical-industry">Unmet Needs from The Vitamin A Chemical Industry</h3>
<p>Tracing back to the history, the chemical production of Vitamin A has been well researched and developed in the last century. <strong>BASF and Roche</strong> have independently proposed their own reaction route of Vitamin A. These routes share the same substrate: <strong>beta-ionone</strong> and the same final product: <strong>retinyl acetate</strong>. Through multiple organic catalytic reations featuring Wittig, etc., the β-ionone would be finally transformed into retinyl acetate.</p>
<p>The current global production capacity of Vitamin A is approximately 30,000 tons. According to research, the <strong>CR4</strong> of the global Vitamin A manufacturing industry is <strong>78%</strong>, which indicates a high extent of <strong>concentration</strong>.</p>
<p>Reviewing historical price trends of Vitamin A, we have discovered that <strong>the spikes of Vitamin A price were primarily due to either extreme supply fluctuations of intermediates or intentional limitation of factory production</strong>. And <strong>once the supply side is contracted, the sensitive price elasticity of Vitamin A spurs the price to skyrocket.</strong></p>
<p>For example, in 2017, due to domestic environmental inspection and an explosion accident of BASF citral plants, the Vitamin A price soared to more than 1,400 RMB (about $200) per kilogram. While in 2019, the bacteria strains for wastewater treatment in DSM Swiss factories were contaminated, and then the Vitamin A price had also risen sharply due to its suspended production of Vitamin A.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/vitamin-a-price.png" alt=""></p>
<p>The production process of Vitamin A through mature organic reactions <strong>demand strict reaction conditions</strong>, thus <strong>the chemical production of Vitamin A is a highly capital and technology-intensive industry</strong>. During the recent decade, <strong>there are no new entrants</strong>. The monopoly gradually forms.</p>
<p>Although chemical production can provide Vitamin A on a large scale and relieve production pressure, <strong>it is difficult to meet the control of Vitamin A components</strong> as the esterification reaction is mostly performed at the end in order to reduce the decomposition of the products, while chemical synthesis is also restricted <strong>due to the national requirements for sustainable development</strong>.</p>
<p><strong>The Need for stable prices, the need for accurate control of final products, the demand of enviromental protection and sustainably development … These unsatisfied or unmet needs could be reached by synthetic biology solutions. Our <em>Rester</em> project will come to play.</strong></p>
<h3 id="skincare-customers-profile-our-potential-customers">Skincare Customers Profile: Our Potential Customers</h3>
<p>Based on several pieces of research conducted by consulting companies and responses from online questionnaires, our potential <em>Rester</em> skincare product customers share some characteristics and desires, which should be well observed and contemplated.</p>
<h4 id="general-portrait">General Portrait</h4>
<ul>
<li>
<p>Chinese skincare users are <strong>mainly women</strong>, accounting for over <strong>70%</strong> of the users. Among them, <strong>65% of female skincare consumers are between 26-35 years old.</strong></p>
</li>
<li>
<p>The <strong>monthly expenditure on skincare for women</strong> is mainly concentrated in the range of <strong>RMB 800-1,500</strong>, while the most common <strong>monthly expenditure on skincare for men</strong> is in the range of <strong>RMB 300-500</strong>.</p>
</li>
<li>
<p><strong>The change of living habits and work under the pandemic has a certain impact on the skin</strong>. 41% of users said their skin problems were aggravated during the pandemic, with the three most common changes being <strong>larger pores, sensitivity &amp; inflammation, and lackluster complexions</strong>.</p>
</li>
<li>
<p>Regarding the reasons for the deterioration of skin condition after the pandemic, 47.8% of the survey respondents believed that it was caused by <strong>lifestyle factors</strong> such as irregular work and rest, uncontrolled diet and reduced exercise; 40.7% believed that it was caused by <strong>work factors</strong> such as work pressure, overtime work and the need to wear masks for a long time when working outside; and the remaining 11.5% believed that it was mainly due to <strong>anxiety and irritability caused by the pandemic</strong>. The remaining 11.5% of the users thought that the skin condition worsened due to <strong>psychological factors</strong>, such as anxiety and irritability.</p>
</li>
</ul>
<h4 id="customers-preference">Customers’ Preference</h4>
<ul>
<li><strong>Why Choose Skincare Product?</strong></li>
</ul>
<p>Through the statistics of the research results, we conclude that the main reasons for consumers to choose skincare products are focused on three aspects:</p>
<ol>
<li><strong>solving skin issue</strong></li>
<li><strong>seeking ingredient safety</strong></li>
<li><strong>achieving significant results</strong></li>
</ol>
<ul>
<li><strong>What Efficacy Have You Paid Attention?</strong></li>
</ul>
<p>In terms of concern for efficacy, the top three effects for the overall sample were:</p>
<ol>
<li><strong>anti-aging</strong></li>
<li><strong>moisturation</strong></li>
<li><strong>skin brightening</strong></li>
</ol>
<p>While <strong>female consumers</strong> paying significantly more attention to <strong>brightening, moisturation and anti-aging</strong> than overall and male consumers; <strong>male consumers</strong> paying significantly more attention to <strong>removing blackheads, occlusions and acne</strong> than women and the overall sample.</p>
<ul>
<li><strong>Where The Product Is Produced Counts?</strong></li>
</ul>
<p>More than 60% of the survey respondents have purchased skincare products produced by domestic brands, followed closely by France and Japan. The main reasons for consumers to buy <strong>domestic skincare products</strong> are:</p>
<ol>
<li><strong>high cost performance &amp; safety</strong></li>
<li><strong>good reputation</strong></li>
<li><strong>novelty</strong></li>
</ol>
<p>While the reasons for buying <strong>skincare products from foreign brands</strong> are:</p>
<ol>
<li><strong>high safety</strong></li>
<li><strong>long history and trustworthiness</strong></li>
<li><strong>good reputation of the product</strong></li>
</ol>
<p>In summary, <strong>consumers’ consideration of safety and brand reputation determines their purchase behavior to a certain extent</strong>.</p>
<h4 id="insights-on-consuming-behavior-and-skincare-market">Insights on Consuming Behavior And Skincare Market</h4>
<p>Global consumers with new consuming behavior and features, will lead the market in the future.</p>
<ul>
<li>
<p><strong>Need for distinction</strong> drives companies to develop specific series of products.</p>
</li>
<li>
<p><strong>Emotional empathy</strong> makes consumers <strong>easier to resonate with brand stories</strong> instead of common advertisements.</p>
</li>
<li>
<p>Impulse shopping together with desire of experience consumption pushes companies to <strong>establish more retailing channels</strong> to optimize profit.</p>
</li>
<li>
<p>Low brand loyalty <strong>diminishes the barrier of market entry</strong>.</p>
</li>
</ul>
<p>These indicates <strong>a promising entrance</strong> of our new brand <em>Rester</em>. In the context of <strong>post-COVID era</strong>, with special concern and care to people with <strong>anti-aging needs</strong> and <strong>sensitive skin issue</strong>, we are more easier to penetrate <strong>low-end customers</strong> with <strong>accessible prices, comprehensive skincare effects</strong>, and <strong>sufficient safety considerations</strong>.</p>
<hr>
<h3 id="unmet-needs-of-skincare-customers">Unmet Needs of Skincare Customers</h3>
<p>From the questionnaire responses we collected, we also derive that:</p>
<ul>
<li>
<p>69.2% of users think that more investment should be made in R&amp;D to launch <strong>more targeted products</strong>.</p>
</li>
<li>
<p>65.8% of users believe that more clinical data should be accumulated to <strong>guarantee the safety and effectiveness</strong> of products.</p>
</li>
<li>
<p>65.8% of users think that they should strengthen their sense of innovation and develop effective skincare products <strong>with original ingredients/formulas</strong>.</p>
</li>
<li>
<p>48.2% of users think that they should <strong>cooperate with foreign manufacturers/brands</strong> with a long history and learn more about the process and products.</p>
</li>
</ul>
<p>Altogether, <strong>future <em>Rester</em> brand should equip our products with these characteristics and highlights to satiate unmet needs</strong>:</p>
<ol>
<li><strong>Highly targeted</strong></li>
<li><strong>Highly secure</strong></li>
<li><strong>More originality</strong></li>
<li><strong>More international cooperations.</strong></li>
</ol>
<h3 id="market-size-forecast">Market Size Forecast</h3>
<p>China’s consumer skincare consumption structure is similar to Japan and South Korea. The current <strong>per capita skincare consumption / per capita GDP ratio</strong> of <strong>Japan and South Korea</strong> has been relatively stable between <strong>0.35%-0.4%</strong>. And <strong>China’s per capita skincare consumption / per capita GDP ratio</strong> in 2019 is <strong>0.25%</strong>. With reference to the same period in Japan and South Korea, the ratio still has about 1.5 times of the room for improvement.</p>
<p>Under the neutral assumption, the ratio of per capita skincare consumption / per capita GDP will increase by 0.01% per year from 2019 to 2025, and the ratio will reach <strong>0.31%</strong> by 2025, which corresponds to the estimated skincare market size of 344.4 billion RMB (2019 skincare market size is about 198.0 billion RMB). <strong>Ideally, if the per capita consumption of skin care products/per capita GDP can reach the level of South Korea (0.38%)</strong>, the market size of skin care products is expected to reach <strong>531.8 billion RMB</strong>  in 2025.</p>
<ul>
<li><strong>China’s skincare market size estimation from iResearch. This figure shows estimations based on simulated CAGRs, which is different from previous calculations.</strong><br>
<img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/skincare-market.png" alt="entrepreneurship 2022 Fudan"></li>
</ul>
<p>We could anticipate considerable growth opportunity for our <em>Rester</em> brand as the penetration continues.</p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
  <h2 id="models--situation-analysis">Models &amp; Situation Analysis</h2>
<p>The development of <em>Rester</em> should not neglect the big picture of success examples and current situations once we set about deepening our project.</p>
<h3 id="success-from-overseas-brands">Success From Overseas Brands</h3>
<p>We review the development history of the major overseas players in skincare industry.</p>
<p>The overseas giants currently involved in the sensitive skin repair track mainly include L’Oréal (France, with brands such as Skin Spring and Vyse), Beiersdorf (Germany, with brands such as Eucerin and La Prairie), Pierre Faber (France, parent company of Avène) and Kao Group (Japan, with brands such as Folifrance and Kerun).<br>
The main growth paths are divided into 3 main types.</p>
<ol>
<li>
<p>Growth Path 1: <strong>Pierre Faber</strong> (Avène’s parent company), from a small pharmacy to a world-class pharmaceutical/dermatological skin care company. The company is deeply engaged in the field of skincare products, with a 60% revenue share of skincare products at present. <strong>The company focuses on Research &amp; Development (R&amp;D), with brands mainly incubated independently</strong>, and has incubated brands focusing on sensitive skin care, such as Pierre Faber Dermatology and Care Leu. We believe that <strong>the Pierre Faber is a typical representative of a company that started out as a pharmacy, deepened its expertise in the field of skin care, and finally built itself into an international giant.</strong></p>
</li>
<li>
<p>Growth Path 2:<strong>Beiersdorf</strong> (parent company of Eucerin), founded by a pharmacist and developed into a comprehensive skincare multinational company through <strong>self-incubation and M&amp;A</strong>. Beiersdorf has the largest dermatological research center in Europe and is the global standard setter for efficacy assessment in the skincare industry. The company has improved its product matrix through self-incubation and merge &amp; acquisitions, and now includes the self-incubated brand Eucerin, dedicated to the repair of sensitive skin, and the acquired high-end skincare brand La Prairie, etc.</p>
</li>
<li>
<p>Growth path three: <strong>L’Oréal</strong>, <strong>through acquisitions to increase the number of skincare products</strong>, established a special business unit. L’Oréal acquired the skincare brand Vézel in 1980, then gradually enriched the skincare brand matrix through acquisitions, and established a specialized active health cosmetics division, whose brands now include Vézel, Skin Care, CeraVe and Decleor, covering multiple price bands to meet the needs of different levels of consumers.</p>
</li>
</ol>
<h3 id="competitor-analysis">Competitor Analysis</h3>
<p><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/competitor-analysis.png" alt="entrepreneurship 2022 Fudan"></p>
<h3 id="swot-analysis">SWOT Analysis</h3>
<p><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/swot.png" alt="entrepreneurship 2022 Fudan"></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content3">
  <h2 id="product-launching-customer-attracting--retaining">Product Launching, Customer Attracting &amp; Retaining</h2>
<p>Marketing efforts take up a major role in the this part. <strong>How a new product can win the trust of consumers and get them to actively purchase and repurchase it</strong> is a major issue that production lines, brands and companies have to face.</p>
<h3 id="market-penetration">Market Penetration</h3>
<p>The main domestic sales channels are the following categories with ratings and evaluations. Rester could focus on exclusive shop more than other channels.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/distribution-channels.png" alt=""></p>
<p>In addition to focusing on traditional sales channels, we can carry out innovative forms of offline stores:</p>
<p><strong>1. Conceptual store<br>
2. Experience store</strong></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/offline-stores.png" alt=""></p>
<p>In order to enhance consumers’ knowledge of the company, brand and R&amp;D production, we select some consumers to visit production lines and research centers to deepen consumers’ knowledge of the power of research after the product, thus forming trust in the brand.</p>
<h3 id="community-establishment">Community Establishment</h3>
<p>Building a community is a way for skincare users to form a united and powerful group. Because consumers of specific brands and products usually share common characteristics and have a high degree of overlap in their concerns.</p>
<p>Communities bind consumers’ online accounts to their community membership through their social media accounts (like WeChat or Apple account).</p>
<p>Consumers can enjoy exclusive value-added services.<br>
<strong>By establishing a community, consumers who buy products can maximize their value-added consumption and thus deepen their loyalty to the brand.</strong></p>
<h3 id="broad-influence">Broad Influence</h3>
<p>When a business brand assumes <strong>a big-picture view</strong> and <strong>sense of responsibility</strong> beyond traditional business, it will truly become a facilitator of human community that connects society and humanity. By taking the initiative to <strong>export professional scientific content and brand images</strong>, we can do the following for our brand <strong>Rester</strong>.</p>
<ol>
<li>
<p>Joint <strong>skin experts</strong> to carry out series lectures to bring high-quality skin care sharing.</p>
</li>
<li>
<p>In the context of consumers focusing on the scientific research support behind skincare products, our brand should seek to show its strong R&amp;D strength by filming <strong>authoritative promotional videos</strong> and <strong>choosing KOL/KOC to be the spokesperson</strong> to bring the young brand closer to consumers.</p>
</li>
<li>
<p><strong>Offline and online live inquiry &amp; consultation services</strong> will be available. And In our brand’s self-media account, <strong>high-quality scientific knowledge popularization and expertise of skin care</strong> will be created in the form of video. These services bring the brand professionalism and positive brand image to the public.</p>
</li>
<li>
<p><strong>Donations to hospitals, communities and poor areas, and telling good brand stories</strong>, is a brand role that consumers recognize and appreciate.</p>
</li>
</ol>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content4">
  <h2 id="maximize-revenues-sustainably-future-strategy--impacts">Maximize Revenues Sustainably: Future Strategy &amp; Impacts</h2>
<h3 id="intellectual-property-protection">Intellectual Property Protection</h3>
<p>When we were refining our cell factory, our instructor fully stressed the importance of starting a patent application.<br>
We have already submit our Internatinal IP draft to our patent attorney, and we will complete the patent application process after completing more detailed follow-up experiments this year.</p>
<h3 id="product-update--iteration-proposal">Product Update &amp; Iteration Proposal</h3>
<p>For skincare companies, transcending the “ingredient cycle” is an important prerequisite for sustaining product popularity and maintaining brand viability.</p>
<p>We believe that our future “Rester” company or brands could currently use four strategies according to investigations of domestic and international skincare companies to keep ourselves rejuvenated.</p>
<h3 id="big-single-products-continue-to-carry-out-technical-iterations-keeping-up-with-technological-trends-above-the-common-cognition.">1. Big single products continue to carry out technical iterations, keeping up with technological trends above the common cognition.</h3>
<p>Product quality is the foundation of cosmetic brands, and <strong>the prerequisite for the longevity of large single products is the need for brands to continuously upgrade and iterate on their products</strong>. Although cosmetics &amp; skin care are highly dependent on marketing, the quality and efficacy of the product is the foundation of the brand. The brand R&amp;D barrier is mainly reflected in the research and development of raw materials and formulas.</p>
<p>Take <strong>Estee Lauder’s ANR (Advanced Night Repair)</strong> as an example. The company used 9%-10% bifid yeast extract in the <strong>first generation</strong> of ANR essence, in addition to adding hyaluronic acid as a moisturizer; the <strong>fourth generation</strong> of ANR increased the concentration of the patented complex of <strong>repair effect by 5 times</strong>; the <strong>fifth generation</strong> added a raw material tripeptide after promoting synchronous repair effect; the <strong>sixth generation</strong> used yeast extract instead of tripeptide + purple pine fruit chrysanthemum extract. And the seventh generation of added Tripeptide-32 and Baobab seed extract to enhance the repairing effect. The company’s revenue has improved with each generation of product’s launch, building a long-term success of big single products.</p>
<h4 id="timely-addition-of-new-formulas-and-new-effects-old-products-rejuvenated.">2. Timely addition of new formulas and new effects, old products rejuvenated.</h4>
<p>In the background of escalating consumer demand, cosmetic brands are also <strong>upgrading their ingredients and efficacy</strong> to meet the different needs of consumers.</p>
<p>Take <strong>Bloomage Biotech</strong> as an example. Its BIOHYALUX Moisture has quickly become a core product since the launch, and has been a top seller for years. After the success of the BIOHYALUX Moisture, Bloomage Biotech adds anti-aging and cleansing products to its two brands in 2018, 2019 and 2021 respectively. They have quickly become the core products of the company.</p>
<h4 id="multi-category-expansion-from-core-ingredients.">3.  Multi-category expansion from core ingredients.</h4>
<p>In addition to iterative upgrades on individual products, brands also achieve brand increment through category expansion.</p>
<p>Take Proya for example, after the success of “<strong>Early with Vitamin C and Late with Vitamin A</strong>”, the company quickly launched the upgraded concept of “ABC” combination and expanded the category from essence to eye cream and foundation.</p>
<h4 id="distinguish-textures-and-use-scenarios-to-precisely-reach-target-consumers">4. Distinguish textures and use scenarios to precisely reach target consumers</h4>
<p>In addition to efficacy, more brands differentiate product target groups based on skin type and usage scenarios.</p>
<p>For example, for most sensitive skincare products, such as Skin Spring B5, Avène moisturizing cream and other products, the target skin type and scene application is wide. Usually, all skin types are applicable.</p>
<p>In addition, Hélène’s black and white bandage and Kiehlen’s moisturizer contains different products according to the differentiation of day &amp; night and seasonal changes.</p>
<p>Besides, Lancôme Essence series, Clinique Butter, Perrier Ruby Cream is more focused on fixed type of consumers.</p>
<p><strong>Different target and differentiations helps brands to win more market shares.</strong></p>
<h3 id="stakeholders-involvement-and-considerations-within-the-skincare-industry-chain">Stakeholders Involvement And Considerations within the Skincare Industry Chain</h3>
<h4 id="upstream-raw-material-suppliers--originial-equipment-manufacturer">Upstream: Raw Material Suppliers &amp; Originial Equipment Manufacturer</h4>
<ol>
<li>
<p>High dependence of key raw materials on well-known foreign suppliers causes that the profit level of foreign suppliers is higher than that of Chinese domestic suppliers.</p>
</li>
<li>
<p>Brand owners focus on distribution channel development and R&amp;D construction, and commissioned processing or production becomes the main production mode of skincare industry, and upstream Original Equipment Manufacturer (OEMs) have low gross margin due to low production cost and bargaining power.</p>
</li>
</ol>
<h4 id="midstream-skincare-brands--companies">Midstream: Skincare Brands &amp; Companies</h4>
<ol>
<li>
<p>Skincare brand owners build B2C model and B2B2C model to achieve great benefit with downstream distribution channels.</p>
</li>
<li>
<p>Skincare industry’s leading brands benefit from high market concentration and have a strong bargaining power in the upstream and downstream segments.</p>
</li>
</ol>
<h4 id="downstream-channel--customers">Downstream: Channel &amp; Customers</h4>
<ol>
<li>
<p><strong>Channel side</strong>: Subject to the development of e-commerce channels, online channels are the main channels in China’s functional skin care industry, as China’s pharmacy channel sales skincare business has not developed well, causing it to lag behind developed countries in specialized channel.</p>
</li>
<li>
<p><strong>Customer side</strong>: 20-35 years old people are the main consumers of skincare products. Skin sensitivity is the most important skin problem for consumers. When developing products, they should fully consider the needs of people with sensitive skin.</p>
</li>
</ol>
<h3 id="scalability-to-adapt--expand">Scalability: To Adapt &amp; Expand</h3>
<p>Our Vitamin A cell factory is essentially applicable in any synthetic route where the final product is synthesized through a chain reaction pathway (i.e., the product of the previous reaction step is the substrate for the next step). Any natural product synthesis that fits this profile can employ our team’s technology to sport more skincare, cosmetic and even medical related substances.</p>
<h4 id="large-scale-manufacturing">Large Scale Manufacturing</h4>
<p>Our experiments work well in liter-volume reactors. We expect future improvements of our parts to be utilized in large-volume manufacturing in real synthetic biology industry.</p>
<h4 id="food--nutrition">Food &amp; Nutrition</h4>
<p>SDG 2: zero hunger is one of the final goals that our humans are sparing no effort to pursue. Rester could also be engineered to <strong>produce plant-origin proteins and oil</strong>, which is anticipated for hunger elimination, and cultivation of intended healthy life style for vegans, vegetarians and even broader group of people.</p>
<h3 id="long-term-impacts">Long-Term Impacts</h3>
<h4 id="positive-impacts">Positive Impacts</h4>
<ol>
<li>People will pay more attention to the care of sensitive skin. When people face adverse reactions caused by sensitive skin, most of them will not choose to suffer while doing nothing until the symptoms disappear, but will choose the right skincare products through their own skin type.</li>
<li>The “He Economy” is booming, and society is <strong>getting rid of the stereotypes and discrimination of men’s skincare</strong>, and ushering in an equal and objective skincare concept.</li>
<li>The worldwide trend of low-carbon economy penetrates the skincare industry, and the concepts of <strong>natural ingredients and biosynthesis are supported by more policies, more capital and more consumers</strong>. Consumers ushered in an upgrade of consumption concept.</li>
<li>In the era of Big Health, in addition to skincare, <strong>the anti-aging care industry witnessed new growth</strong>, people’s internal strengthening of health management awareness will give rise to more <strong>rapid development of the human health management industry</strong>, including but not limited to: skin, organs, human brain, sports health, disease self-examination, early detection of cancer, etc.</li>
</ol>
<h4 id="negative-impact">Negative Impact</h4>
<ul>
<li>The <strong>biosafety of cell factory production</strong> needs constant attention. A seemingly insignificant leak can bring about serious contamination of the product contents and the surrounding ecological environment.</li>
</ul>
<h2 id="see-the-future-five-year-roadmap-for-our-rester-skincare-products">See the Future: Five Year Roadmap for Our <em>Rester</em> Skincare Products</h2>
<p><a href="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/5-year-roadmap.png" target="_blank"><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/5-year-roadmap.png" alt="entrepreneurship 2022 Fudan"></a></p>
<p><a href="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/elaborate.png" target="_blank"><img src="https://static.igem.wiki/teams/4162/wiki/entrepreneurship/elaborate.png" alt="entrepreneurship 2022 Fudan"></a></p>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
