{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block side_bar %}
<div id="landingpage" style="width:20%">
        <ul>
        <li><div class="anchor">
            <a class="dot-landingpage" data-scroll="content" href="#part-one-proposed-application">
            <span class="linkname">Proposed Application</span></a>
            </div>
        </li>
        <li><div class="anchor">
            <a class="dot-landingpage" data-scroll="content1" href="#part-two-safety-considerations">
            <span class="linkname">Safety Considerations</span></a>
            </div>
        </li>
        <li><div class="anchor">
            <a class="dot-landingpage" data-scroll="content2" href="#part-three-other-issues">
            <span class="linkname">Other Issues</span></a>
            </div>
        </li>
        </ul>
</div>
<!-- hide sidebar -->
{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
<h2 id="part-one-proposed-application">I. Proposed Application</h2>
<ul>
<li>We synthesized retinol <a href="/fudan/proof-of-concept">successfully</a>, in bacteria. But to extract, we have to use organic solvent, which is not environmental safe nor energy efficient. We wondered how to transport retinol outside the cell walls, during its production by bacteria. Enlightened by the retinol-transporting pathway in human beings, we have designed parts which introduce CRBP-encoding genes into bacteria, expecting it to be a feasible way to export retinol efficiently. By the way, this can be environmentally friendly. Unfortunately, due to the time limitation, we did not have time to test our design.<br/><br/></li>
<li>To use retinol produced by our bacterial factory in reality, we need a delivery material - a carrier. For instance, hydrogel is a promising candidate for its convenience when swiping on the skin. Recently, environmentally-stable hydrogel has been developed, and various conditions for retinol delivery in hydrogel can be achieved.<br/><br/></li>
<li>Considering prevalent cosmetic product forms, emulsifiers are requested to make retinol easier to absorb. Ingredients like glycerol and silicone oil can help a lot.<br/><br/></li>
<li>Never is retinol the only effective ingredient used in skincare products. Besides retinoids, Vitamin C, Vitamin E, green tea extraction, or panthenol are equally vital in skincare, which can perfectly resonate with retinoids and show combined powerful functions.</li>
</ul>
  </div>

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
<h2 id="part-two-safety-considerations">II. Safety Considerations</h2>
<p>Regarding retinol’s omnipotence, safety should ultimately be prioritized.</p>
<ul>
<li>For the bacteria we engineered, we ought to consider whether toxic intermediates or by-products will be yielded<br/><br/></li>
<li>To consumers, we ought to reflect on the mildness of our ingredients and auxiliary components to ensure no backfire<br/><br/></li>
<li>Moreover, to completely filter out biological particles to eliminate any possible infections, we shall merge nanotechniques into the <i>ex vivo</i> experiments.<br/><br/></li>
</ul>
  </div>

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h2 id="part-three-other-issues">III. Other Issues</h2>
<p>Taking costs into consideration, we should try our best to balance the quality and price in case consumers feel unaffordable.</p>
<p>Customers’ cognition of Vitamin A still lingers around diet therapy, which is so far from the whole picture. We’re obliged to popularize Vitamin A as a potent skincare ingredient and persuade customers to start their retinoid journey.</p>
  </div>

</div>
<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
