{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<h2 id="part-one-proposed-application">Part one: Proposed Application</h2>
<ul>
<li>We synthesized retinol successfully, but we wondered how to transform it outside the cell walls. Enlightened by the retinol-transforming pathway in human beings, we imported CRBP-encoding genes into bacteria, expecting it to be a feasible way to transport molecules efficiently. By the way, this can be environmentally friendly.</li>
<br/><li>A better base for retinol is needed to use our product in reality. For instance, hydrogel is a promising alternative for its convenience when swiping on the skin. Recently, environmentally-sensitive hydrogel has been realized, which means various regulations under corresponding conditions of retinol delivery can be achieved.<br/></li>
<br/><li>Considering prevalent cosmetic product forms, emulsifiers are requested to make retinol easier to absorb. Ingredients like glycerol and silicone oil can help a lot.<br/></li>
<br/><li>Never is retinol the only effective ingredient used in skincare products. Besides retinoids, Vitamin C, Vitamin E, green tea extraction, or panthenol are equally vital in skincare, which can perfectly resonate with retinoids and show more powerful functions.<br/></li>
</ul>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
<h2 id="part-two-safety-considerations">Part two: Safety Considerations</h2>
<ul>
<li>Regarding retinol’s omnipotence, safety should ultimately be prioritized. To the bacteria we engineer, we ought to consider whether toxic intermediates or by-products will be yielded; to consumers, we ought to reflect on the mildness of our ingredients and auxiliary components to ensure no backfire. Moreover, to completely filter out biological particles to eliminate any possible infections, we shall merge chemical techniques into the ex vivo experiments.</li>
</ul>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h2 id="part-three-other-issues">Part three: Other Issues</h2>
<ul>
<li>Taking costs into consideration, we should try our best to balance the quality and price in case consumers feel unaffordable.</li>
<br/><li>Customers’ cognition of Vitamin A still lingers around diet therapy, which is so far from the whole picture. We’re obliged to popularize Vitamin A as a potent skincare ingredient and persuade customers to start their retinoid journey.</li>
</ul>

  </div>
</div>
<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
