{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}
<div class="loader">

    <video autoplay loop muted>
        <source src="mp4.mp4" type="video/mp4">
    </video>

</div>
<nav class="navbar" id="navbar">

    <ul>

        <li>
            <a href="#animation" class="dot active" data-scroll="animation">
                <span>animation</span>
            </a>
        </li>

        <li>
            <a href="#animation1" class="dot" data-scroll="animation1">
                <span>animation1</span>
            </a>
        </li>

        <li>
            <a href="#animation2" class="dot" data-scroll="animation2">
                <span>animation2</span>
            </a>
        </li>

        <li>
            <a href="#animation3" class="dot" data-scroll="animation3">
                <span>animation3</span>
            </a>
        </li>

        <li>
            <a href="#animation4" class="dot" data-scroll="animation4">
                <span>animation4</span>
            </a>
        </li>

    </ul>

</nav>

<section id="heading" class="sec">
    <div id="headingbackground">
        <div id="headinglogo">

        </div>
    </div>
</section>

<section id="animation" class="sec">
    <blockquote>
        This is an animation for testing.
        <span id="greengrow"></span>
    </blockquote>
    <div class="row">
        <div class="col-md-2"></div>
    <div id="orange1" class="col-md-4">

    </div>
    </div>
    <div id="yellow">

    </div>


</section>

<section id="animation1" class="sec">
    <div class="col-md-2"></div>
    <div id="lightgreen" class="col-md-3">

    </div>
</section>

<section id="animation2" class="sec">
    <div id="darkgreen1">

    </div>
</section>

<section id="animation3" class="sec">
    <div id="orange2">

    </div>
</section>

<section id="animation4" class="sec">
    <div id="orange3">

    </div>
    <div id="darkgreen2">

    </div>
</section>

<section>
    <h1>
        Scroll up
    </h1>
</section>

{% endblock %}
