{% extends "layout0.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

<section id="heading" class="sec">
    <div id="headingbackground">
        <div id="headinglogo">

        </div>
    </div>
</section>

<section id="data" class="sec">

</section>

<section id="masks" class="sec">

</section>

<section id="route" class="sec">
    <div id="lightgreen">

    </div>
</section>

<section id="reasons" class="sec">
    <div id="darkgreen1">

    </div>
</section>

<section id="women_men" class="sec">
    <div id="orange2">

    </div>
</section>

<section id="ideas" class="sec">
    <div id="orange2">

    </div>
</section>

<section id="pictures" class="sec">
    <div id="orange3">

    </div>
    <div id="darkgreen2">

    </div>
</section>

<section id="menus" class="sec">
    <h1>
        Scroll up
    </h1>
</section>

{% endblock %}
