{% extends "layout0.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

<div class="menu">

    <div class="toggle" id="menu"></div>
    <div class="menuitem" style="--i:1">
        <a class="model" href="{{ url_for('pages', page='model') }}"></a>
    </div>
    <div class="menuitem" style="--i:2">
        <a class="award" href="https://old.igem.org/2022_Judging_Form?id=4162"></a>
    </div>
    <div class="menuitem" style="--i:3">
        <a class="design" href="{{ url_for('pages', page='description') }}"></a>
    </div>
    <div class="menuitem" style="--i:4">
        <a class="education" href="{{ url_for('pages', page='education') }}"></a>
    </div>
    <div class="menuitem" style="--i:5">
        <a class="home" href="/fudan/index.html"></a>
    </div>
    <div class="menuitem_second" style="--j:1; --i:1">
        <a class="hp" href="{{ url_for('pages', page='human-practices') }}"></a>
    </div>
    <div class="menuitem_second" style="--j:1; --i:2">
        <a class="parts" href="{{ url_for('pages', page='parts') }}"></a>
    </div>
    <div class="menuitem_second" style="--j:1; --i:3">
        <a class="project" href="{{ url_for('pages', page='contribution') }}"></a>
    </div>
    <!--<div class="menuitem_second" style="--j:1; --i:4">
        <a class="safety"></a>
    </div>-->
    <div class="menuitem_second" style="--j:1; --i:4">
        <a class="team" href="{{ url_for('pages', page='team') }}"></a>
    </div>
    <div class="menuitem_second" style="--j:1; --i:5">
        <a class="wetlab" href="{{ url_for('pages', page='engineering') }}"></a>
    </div>

</div>

<section id="heading">
    <div id="rester">
        <img id="logo" src="https://static.igem.wiki/teams/4162/wiki/index/index/rester.png">
    </div>
    <div id="circle1"></div>
</section>
<section id="data">
    <div id="health">
        <div class="health_words" id="health_words1"><p>In the era of Global Health, people are paying unprecedented attention to personal health status.
            Skin, as the most exterior health indicator, attracts public consideration on its health management.</p></div>
        <div class="health_words" id="health_words2"><p>The skin care industry has consequently thrived. Skincare products with anti-aging, anti-oxidation, anti-wrinkle, or other efficacy are blooming.
        </p></div>
        <div class="health_words" id="health_words3"><p>We are amazed by a skincare regular Vitamin A, a potent ingredient with comprehensive skincare effects. It has been widely adopted by numerous brands.
        </p></div>
    </div>
</section>
<section id="masks">

    <img id="mask1" src="https://static.igem.wiki/teams/4162/wiki/index/index/kouzhao.png">

    <div id="mask2" class="masks_word">
        <p>
            While under the lingering pandemic, China persists in its Dynamic Zero-COVID Policy. Citizens voluntarily wear masks to maintain a COVID-free environment.
        </p>
    </div>
    <div id="mask3" class="masks_word">
        <p>
            However, wearing masks for a long time may induce redness, itch, acne, etc., especially for people with sensitive skin.
        </p>
    </div>
    <div id="mask4" class="masks_word">
        <p>
            Fortunately, back in history the retinoic acid of Vitamin A was born as an acne killer. It is also the only anti-aging medicine approved by FDA. What a coincidence! Vitamin A can help ease both photoaging issues and skin irritation at one time.
        </p>
    </div>
</section>
<section id="routes">
    <div id="route1">
        <div class="route_word" id="route_word1">
            <p>So</p>
        </div>
        <div class="route_word" id="route_word2">
            <p>we aimed our project topic at the magical</p>
        </div>
        <div class="route_word" id="route_word3">
            <p>Vitamin A.</p>
        </div>
    </div>

</section>
<section id="reasons">
    <div id="reasons1">
        <div class="reasons_word" id="reasons_word1">
            <p>Office workers and students are under heavy and inevitable pressure, thus fail to manage their skin status on a regular basis.
                While the healthy look of skin could help to enhance self-confidence, this contradiction here spurs intense compensatory needs for skin care</p>
        </div>
    </div>
    <img id="reasons2" src="https://static.igem.wiki/teams/4162/wiki/index/index/studentworker.png">
    <div id="reasons3">
        <div class="reasons_word" id="reasons_word4">
            <p>However, we find prices of Vitamin A skincare products are vexing, which makes consumers less accessible to the promising ingredient.
            </p>
        </div>
    </div>
    <img id="reasons4" src="https://static.igem.wiki/teams/4162/wiki/index/index/high-price.png">
</section>
<section id="women_men">
    <img id="women_men2" src="https://static.igem.wiki/teams/4162/wiki/index/index/woman.png">
    <div id="women_men1">
        <div class="women_men_word">
            <p>Besides, we still witnessed some discrimination against various skincare product users. Equality in skincare experience among diverse groups of people is what we advocate and pursue along the way.
            </p>
        </div>
    </div>
    <img id="women_men3" src="https://static.igem.wiki/teams/4162/wiki/index/index/brandmarketing.png">
    <div id="women_men4">
        <div class="women_men_word">
            <p>And for the majority of the time, customers are not scientifically familiar with the ingredients. Exaggerated promotions hinders customers' correct understanding of skincare components.
            </p>
        </div>
    </div>
    <div id="women_men5">
        <div class="women_men_word">
            <p>We realize that it is time to diminish those toxic stereotypes and distorted perceptions.
            </p>
        </div>
    </div>
</section>
<section id="ideas">
    <img id="ideas1" src="https://static.igem.wiki/teams/4162/wiki/index/index/kechixu.png">
    <div id="ideas2">
        <div class="ideas_word">
            <p>With synthetic biology participating in the chemical industry evolution, we shall embrace a world with less carbon footprint and more sustainability</p>
        </div>
    </div>
    <img id="ideas3" src="https://static.igem.wiki/teams/4162/wiki/index/index/xinguannian.png">
    <div id="ideas4">
        <div class="ideas_word">
            <p>To conclude, manufacturing Vitamin A skincare products backed up by synthetic biology is a promising industry.
            </p>
        </div>
    </div>
</section>
<hr>
<section id="pictures">
    <div class="col-10 offset-1">
        <div class="piccontainer row justify-content-start">
            <div id="conclusion"><p>Our project "Rester" builds a Vitamin A cell factory prototype for the future bioproduction of retinol, which underlies the production of other Vitamin A forms with better stability and less hazard.
            </p></div>
        </div>
        <div class="piccontainer row justify-content-evenly">
            <div id="ribozyme" ></div>
            <div id="tears"></div>
        </div>
    </div>
</section>
<section id="menues">
    <div class="col-8 offset-1" style="margin-top: 10vh">
        <div class="row justify-content-between">
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="model" href="{{ url_for('pages', page='model') }}"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="award" href="https://old.igem.org/2022_Judging_Form?id=4162"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="design" href="{{ url_for('pages', page='description') }}"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="education" href="{{ url_for('pages', page='education') }}"></a>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2 ">
                <a class="parts" href="{{ url_for('pages', page='parts') }}"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="project" href="{{ url_for('pages', page='contribution') }}"s></a>
            </div>
            <!--<div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="safety"></a>
            </div>-->
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="team" href="{{ url_for('pages', page='team') }}"></a>
            </div>

        </div>
        <div class="row justify-content-between">
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="home" href="/fudan/index.html"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="hp" href="{{ url_for('pages', page='human-practices') }}"></a>
            </div>
            <div class="iconsforindex col-lg-2 col-xs-2 col-md-2  ">
                <a class="wetlab" href="{{ url_for('pages', page='engineering') }}"></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}
