{% extends "layout.html" %}
  
{% block title %}Measurement{% endblock %}
{% block lead %}Synthetic Biology needs great measurement approaches for characterizing parts, and efficient new methods for characterizing many parts at once. Describe your measurement approaches on this page.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
  <h2 id="overview">Overview</h2>
  <p><strong>Co-expression</strong> is often achieved by <strong>co-transforming</strong> two or more plasmids, each carrying the gene of one subunit and a different selection marker, into the heterologous expression host. However, the number of plasmids used is not infinite, as transforming and maintaining more than four plasmids simultaneously is very challenging. <strong>Various detection methods should be used to observe the upstream product.</strong></p>
<p>The <strong>uneven copy numbers</strong> of each plasmid make protein expression unpredictable. Another approach is to <strong>assemble multiple genes into a plasmid</strong> which genes are transcribed from multiple promoters (1) or a single promoter to produce long lines of cis mRNA (2).</p>
<p>Polycistronic expression suffers from a major problem: translations of cistrons are severely unbalanced. The order of cistrons in the polycistronic mRNA has an unpredictable consequence on the levels of protein expression (3). <strong>Progressively lower expression was reported with more downstream cistron in the mRNA</strong> (4).</p>
<p>The next step of validation is not until <strong>the phase target product is present and detected</strong>. We integrated a whole set of detection methods, which can be applied to different occasions for verification, especially <strong>linear response pathways</strong>.</p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
    <h2 id="verification">Verification</h2>
<h3 id="pcr-to-confirm-the-successful-transformation-of-plasmids-into-e.coli">PCR to confirm the successful transformation of plasmids into E.coli</h3>
<p>Before we verify protein expression we will test whether <strong>the target gene has been successfully transformed into the plasmids</strong>.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/syj/iyeb-dna.png" alt=""></p>
<p style="font-size:0.6rem;color:grey"><strong>Figure1.</strong> Agarose gel electrophoresis of PCR products, amplified from bacterial colonies/cultures.</p>
<p>The first lane was loaded with a D2000 DNA ladder whose sizes were marked on the image. We chose Taq DNA polymerase for its low cost and high reliability, and we designed forward and reverse primers for each carotene synthesis enzyme (crt for short). The PCR reaction was composed of 2 μL 10x Taq polymerase buffer, 16 μL H2O, 0.5 μL Taq polymerase, 0.5 μL dNTP (10 mM each), 0.5 μL forward primer (10 mM), 0.1 μL reverse primer (10 mM), and 1 μL bacterial culture or 1 colony. Using the same forward primer, and different reverse primers, we were able to detect the composition of various crt genes. After PCR, the correct bacterial clones were sent for Sanger sequencing. Once verified, these clones would be used for further experiments.</p>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
