{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
<h2 id="january">January 2022</h2>
<p>Wet Lab: Zhongyi Yang; Weiwen Chen.</p>
<p>Dry Lab: Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
<h3 id="april">April 2022</h3>
<p>Wet Lab: Lock down. No lab access.</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Lock down. No outreach activities.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h3 id="may">May 2022</h3>
<p>Wet Lab: Lock down. No lab access</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu..</p>
<p>HP: Lock down. No outreach activities.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content3">
<h3 id="june">June 2022</h3>
<p>Wet Lab: Lock down and no lab access until August</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang；Yihan Fang.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content4">
<h3 id="july">July 2022</h3>
<p>Wet Lab: Lock down and no lab access until August</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang；Yihan Fang.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content5">
<h3 id="august">August 2022</h3>
<p>Wet Lab: Zhongyi Yang; Weiwen Chen; Yujian Song.</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang；Yihan Fang.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content6">
<h3 id="september">September 2022</h3>
<p>Wet Lab: Lock down and no lab access until August</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang；Yihan Fang.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content7">
<h3 id="october">October 2022</h3>
<p>Wet Lab: Zhongyi Yang; Weiwen Chen; Yujian Song.</p>
<p>Dry Lab: Zhiyue Chen; Yunjia Liu.</p>
<p>HP: Weiyi Li, Zihan Wang；Yihan Fang.</p>
</div>
</div>


<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
