{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h3>March 2022</h3>
<p>Wet Lab: xxxx; yyyy; zzzz.</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: xxxx; yyyy; zzzz.</p>

<h3>April 2022</h3>
<p>Wet Lab: Lock down. No lab access.</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: Lock down. No outreach activities.</p>

<h3>May 2022</h3>
<p>Wet Lab: Lock down. No lab access</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: Lock down. No outreach activities.</p>

<h3>June 2022</h3>
<p>Wet Lab: Lock down and no lab access until xxxx</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: xxxx; yyyy; zzzz.</p>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h3>March 2022</h3>
<p>Wet Lab: xxxx; yyyy; zzzz.</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: xxxx; yyyy; zzzz.</p>

<h3>April 2022</h3>
<p>Wet Lab: Lock down. No lab access.</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: Lock down. No outreach activities.</p>

<h3>May 2022</h3>
<p>Wet Lab: Lock down. No lab access</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: Lock down. No outreach activities.</p>

<h3>June 2022</h3>
<p>Wet Lab: Lock down and no lab access until xxxx</p>
<p>Dry Lab: xxxx; yyyy; zzzz.</p>
<p>HP: xxxx; yyyy; zzzz.</p>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h2>July 2022</h2>
<h3>Wet Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Dry Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Human Practice</h3>
<p>xxxx; yyyy; zzzz.</p>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h2>August 2022</h2>
<h3>Wet Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Dry Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Human Practice</h3>
<p>xxxx; yyyy; zzzz.</p>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h2>September 2022</h2>
<h3>Wet Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Dry Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Human Practice</h3>
<p>xxxx; yyyy; zzzz.</p>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">
<h2>October 2022</h2>
<h3>Wet Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Dry Lab</h3>
<p>xxxx; yyyy; zzzz.</p>
<h3>Human Practice</h3>
<p>xxxx; yyyy; zzzz.</p>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
