{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>Click <a href="https://static.igem.wiki/teams/4162/wiki/notebook-wetlab.pdf">here</a> to get our notebook.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/notebook-example.png" alt="enter image description here"></p>

  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
