{% extends "layout.html" %}
  
{% block title %}Part Collection{% endblock %}
{% block lead %}Describe your parts collection on this page, so the judges can evaluate you for the Best Part Collection award.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>Our parts could be divided into three major groups:</p>
<p>(I) parts are designed for our ribozyme-assisted polycistronic co-expression system (pRAP).</p>
<p>Group I: BBa_K4162005, BBa_K4162006,  BBa_K4162009 - BBa_K4162021, BBa_K4162101 - BBa_K4162119.</p>
<p>(II) parts are designed for the last two steps of our reaction chain and TEARS.</p>
<p>Group II: BBa_K4162003, BBa_K4162004, BBa_K4162007, BBa_K4162008, BBa_K4162022 - BBa_K4162029, BBa_K4162031, BBa_K4162032.</p>
<p>(III) parts are designed for short peptide linker, gene tag and reporter protein required in our project.</p>
<p>Group III: BBa_K4162001, BBa_K4162002, BBa_K4162033, BBa_K4162034</p>
<p>Below lists all the parts we built for our project. Please check each part’s <strong>Main Page on the Registry</strong> <a href="http://parts.igem.org/Main_Page">http://parts.igem.org/Main_Page</a></p>

<table>
<thead>
<tr>
<th></th>
<th></th>
<th align="center">Part Name</th>
<th align="center">Description</th>
<th align="center">Part Type</th>
<th align="center">Designer(s)</th>
<th align="center">Length</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162001</td>
<td align="center">StayGold = (n2)oxStayGold(c4)v2.0</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  711 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162002</td>
<td align="center">linker between BCMO and StayGold, hydrophobic</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  54 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162003</td>
<td align="center">ybbO coding for retinol dehydrogenase, codon optimized for E. coli</td>
<td align="center">Coding</td>
<td align="center">Yujian Song</td>
<td align="center">Length:  810 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162004</td>
<td align="center">Gene coding for BCMO from uncultured marine bacteria</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  828 bp</td>
</tr>
<tr>
<td></td>
<td>U</td>
<td align="center">BBa_K4162005</td>
<td align="center">Hammerhead ribozyme</td>
<td align="center">RNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  57 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162006</td>
<td align="center">T7_RBS</td>
<td align="center">RBS</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  17 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162007</td>
<td align="center">MCP</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  336 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162008</td>
<td align="center">tdMCP</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  690 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162009</td>
<td align="center">ribozyme + B0_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  991 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162010</td>
<td align="center">ribozyme + T7_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  993 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162011</td>
<td align="center">ribozyme + J6_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  981 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162012</td>
<td align="center">ribozyme + B0_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1012 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162013</td>
<td align="center">ribozyme + T7_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1014 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162014</td>
<td align="center">ribozyme + J6_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1002 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162015</td>
<td align="center">ribozyme + B0_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1561 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162016</td>
<td align="center">ribozyme + T7_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1563 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162017</td>
<td align="center">ribozyme + J6_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1551 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162018</td>
<td align="center">ribozyme + B0_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1231 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162019</td>
<td align="center">ribozyme + T7_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1233 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162020</td>
<td align="center">ribozyme + J6_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1221 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162021</td>
<td align="center">ribozyme+RBS+CDS module: crtIYEB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  4896 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162022</td>
<td align="center">ribozyme + T7_RBS + BCMO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  909 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162023</td>
<td align="center">ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  891 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162024</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1800 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162025</td>
<td align="center">ribozyme + T7_RBS + ybbO + ribozyme + T7_RBS + BCMO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1800 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162026</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO-tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2508 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162027</td>
<td align="center">ribozyme + T7_RBS + ybbO-tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1599 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162028</td>
<td align="center">ribozyme + T7_RBS + ybbO-tdMCP-EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2340 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162029</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO-tdMCP-EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3249 bp</td>
</tr>
<tr>
<td>Deleted</td>
<td></td>
<td align="center">BBa_K4162030</td>
<td align="center">(n2)oxStayGold(c4)v2.0</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  711 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162031</td>
<td align="center">ribozyme + T7_RBS + BCMO-StayGold</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  1674 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162032</td>
<td align="center">ribozyme + T7_RBS + BCMO-StayGold + ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2565 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162033</td>
<td align="center">linker between gene ybbO and tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  18 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162034</td>
<td align="center">linker between tdMCP and EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  18 bp</td>
</tr>
<tr>
<td>Deleted</td>
<td></td>
<td align="center">BBa_K4162035</td>
<td align="center">linker between BCMO and StayGold</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  54 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162101</td>
<td align="center">ribozyme+RBS+CDS module: crtIY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2796 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162102</td>
<td align="center">ribozyme+RBS+CDS module: crtEI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2556 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162103</td>
<td align="center">ribozyme+RBS+CDS module: crtBE</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2007 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162104</td>
<td align="center">ribozyme+RBS+CDS module: crtEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2007 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162105</td>
<td align="center">ribozyme+RBS+CDS module: crtYB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2247 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162106</td>
<td align="center">ribozyme+RBS+CDS module: crtIB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2577 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162107</td>
<td align="center">ribozyme+RBS+CDS module: crtEY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  2226 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162108</td>
<td align="center">ribozyme+RBS+CDS module: crtEBI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3570 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162109</td>
<td align="center">ribozyme+RBS+CDS module: crtIEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3570 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162110</td>
<td align="center">ribozyme+RBS+CDS module: crtBEY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3240 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162111</td>
<td align="center">ribozyme+RBS+CDS module: crtBEI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3570 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162112</td>
<td align="center">ribozyme+RBS+CDS module: crtIYB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3810 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162113</td>
<td align="center">ribozyme+RBS+CDS module: crtEBY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3240 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162114</td>
<td align="center">ribozyme+RBS+CDS module: crtYEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3240 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162115</td>
<td align="center">ribozyme+RBS+CDS module: crtYBE</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3240 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162116</td>
<td align="center">ribozyme+RBS+CDS module: crtEIY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  3789 bp</td>
</tr>
<tr>
<td></td>
<td>U</td>
<td align="center">BBa_K4162117</td>
<td align="center">ribozyme+RBS+CDS module: crtYEBI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  4836 bp</td>
</tr>
<tr>
<td></td>
<td>U</td>
<td align="center">BBa_K4162118</td>
<td align="center">ribozyme+RBS+CDS module: crtEBIY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length:  4848 bp</td>
</tr>
<tr>
<td></td>
<td></td>
<td align="center">BBa_K4162119</td>
<td align="center">ribozyme+RBS+CDS module: crtYBEI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">Length: 4836 bp</td>
</tr>
</tbody>
</table>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
