{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block lead %}This page contains information about the parts created by the team.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<!-- div class="row">
</div -->

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>start change here here here; if sidebar, then multiple div>div.section </p>

  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
