{% extends "layout.html" %}

{% block author_name %}Weiwen CHEN{% endblock %}
  
{% block title %}Part Collection{% endblock %}
{% block lead %}Describe your parts collection on this page, so the judges can evaluate you for the Best Part Collection award.{% endblock %}

{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section">

<p>Our parts could be divided into three major groups:</p>
<p>(I) parts were designed for ribozyme-assisted polycistronic co-expression, mainly for crt genes</p>
<ul>
  <li><a target="_blank" href="http://parts.igem.org/Part:BBa_K4162005">BBa_K4162005</a></li>
  <li>BBa_K4162006</li>
  <li>BBa_K4162009 - BBa_K4162021</li>
  <li>BBa_K4162101 - <a target="_blank" href="http://parts.igem.org/Part:BBa_K4162117">BBa_K4162117</a>, <a target="_blank" href="http://parts.igem.org/Part:BBa_K4162118">BBa_K4162118</a>, <a target="_blank" href="http://parts.igem.org/Part:BBa_K4162119">BBa_K4162119</a></li>
</ul>
<p>(II) parts are designed for the last two steps of our retinol production, and <a href="https://www.biorxiv.org/content/10.1101/2020.07.02.182527v2" target="_blank">TEARS</a></p>
<ul>
  <li>BBa_K4162003</li>
  <li>BBa_K4162004</li>
  <li>BBa_K4162007</li>
  <li>BBa_K4162008</li>
  <li>BBa_K4162022 - BBa_K4162027</li>
  <li>BBa_K4162031</li>
  <li>BBa_K4162032</li>
</ul>
<p>(III) parts are short peptide linkers, tags and fluorescent proteins required in our project</p>
<ul>
  <li>BBa_K4162001</li>
  <li>BBa_K4162002</li>
  <li>BBa_K4162033</li>
  <li>BBa_K4162034</li>
</ul>

<p>Below lists all the parts we built for our project. Please check follow <a target="_blank" href="http://parts.igem.org/Main_Page">the link</a> to see deails <strong>on the Registry</strong>.</p>

<table style="font-size:80% !important">
<thead>
<tr>
<th></th>
<th align="center">Part Name</th>
<th align="center">Description</th>
<th align="center">Part Type</th>
<th align="center">Designer(s)</th>
<th align="center">Length</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td align="center">BBa_K4162001</td>
<td align="center">StayGold = (n2)oxStayGold(c4)v2.0</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 711&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162002</td>
<td align="center">linker between BCMO and StayGold, hydrophobic</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 54&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162003</td>
<td align="center">ybbO coding for retinol dehydrogenase, codon optimized for E. coli</td>
<td align="center">Coding</td>
<td align="center">Yujian Song</td>
<td align="center">&nbsp; 810&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162004</td>
<td align="center">Gene coding for BCMO from uncultured marine bacteria</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 828&nbsp;bp</td>
</tr>
<tr>
<td>U</td>
<td align="center">BBa_K4162005</td>
<td align="center">Hammerhead ribozyme</td>
<td align="center">RNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 57&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162006</td>
<td align="center">T7_RBS</td>
<td align="center">RBS</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 17&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162007</td>
<td align="center">MCP</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 336&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162008</td>
<td align="center">tdMCP</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 690&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162009</td>
<td align="center">ribozyme + B0_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 991&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162010</td>
<td align="center">ribozyme + T7_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 993&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162011</td>
<td align="center">ribozyme + J6_RBS + crtE</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 981&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162012</td>
<td align="center">ribozyme + B0_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1012&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162013</td>
<td align="center">ribozyme + T7_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1014&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162014</td>
<td align="center">ribozyme + J6_RBS + crtB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1002&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162015</td>
<td align="center">ribozyme + B0_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1561&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162016</td>
<td align="center">ribozyme + T7_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1563&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162017</td>
<td align="center">ribozyme + J6_RBS + crtI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1551&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162018</td>
<td align="center">ribozyme + B0_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1231&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162019</td>
<td align="center">ribozyme + T7_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1233&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162020</td>
<td align="center">ribozyme + J6_RBS + crtY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1221&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162021</td>
<td align="center">ribozyme+RBS+CDS module: crtIYEB</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 4896&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162022</td>
<td align="center">ribozyme + T7_RBS + BCMO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 909&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162023</td>
<td align="center">ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 891&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162024</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1800&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162025</td>
<td align="center">ribozyme + T7_RBS + ybbO + ribozyme + T7_RBS + BCMO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1800&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162026</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO-tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2508&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162027</td>
<td align="center">ribozyme + T7_RBS + ybbO-tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1599&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162028</td>
<td align="center">ribozyme + T7_RBS + ybbO-tdMCP-EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2340&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162029</td>
<td align="center">ribozyme + T7_RBS + BCMO + ribozyme + T7_RBS + ybbO-tdMCP-EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3249&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162031</td>
<td align="center">ribozyme + T7_RBS + BCMO-StayGold</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 1674&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162032</td>
<td align="center">ribozyme + T7_RBS + BCMO-StayGold + ribozyme + T7_RBS + ybbO</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2565&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162033</td>
<td align="center">linker between gene ybbO and tdMCP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 18&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162034</td>
<td align="center">linker between tdMCP and EGFP</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 18&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162101</td>
<td align="center">ribozyme+RBS+CDS module: crtIY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2796&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162102</td>
<td align="center">ribozyme+RBS+CDS module: crtEI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2556&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162103</td>
<td align="center">ribozyme+RBS+CDS module: crtBE</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2007&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162104</td>
<td align="center">ribozyme+RBS+CDS module: crtEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2007&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162105</td>
<td align="center">ribozyme+RBS+CDS module: crtYB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2247&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162106</td>
<td align="center">ribozyme+RBS+CDS module: crtIB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2577&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162107</td>
<td align="center">ribozyme+RBS+CDS module: crtEY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 2226&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162108</td>
<td align="center">ribozyme+RBS+CDS module: crtEBI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3570&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162109</td>
<td align="center">ribozyme+RBS+CDS module: crtIEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3570&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162110</td>
<td align="center">ribozyme+RBS+CDS module: crtBEY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3240&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162111</td>
<td align="center">ribozyme+RBS+CDS module: crtBEI</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3570&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162112</td>
<td align="center">ribozyme+RBS+CDS module: crtIYB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3810&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162113</td>
<td align="center">ribozyme+RBS+CDS module: crtEBY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3240&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162114</td>
<td align="center">ribozyme+RBS+CDS module: crtYEB</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3240&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162115</td>
<td align="center">ribozyme+RBS+CDS module: crtYBE</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3240&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162116</td>
<td align="center">ribozyme+RBS+CDS module: crtEIY</td>
<td align="center">Coding</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 3789&nbsp;bp</td>
</tr>
<tr>
<td>U</td>
<td align="center">BBa_K4162117</td>
<td align="center">ribozyme+RBS+CDS module: crtYEBI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 4836&nbsp;bp</td>
</tr>
<tr>
<td>U</td>
<td align="center">BBa_K4162118</td>
<td align="center">ribozyme+RBS+CDS module: crtEBIY</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp; 4848&nbsp;bp</td>
</tr>
<tr>
<td></td>
<td align="center">BBa_K4162119</td>
<td align="center">ribozyme+RBS+CDS module: crtYBEI</td>
<td align="center">DNA</td>
<td align="center">Weiwen Chen</td>
<td align="center">&nbsp;4836&nbsp;bp</td>
</tr>
</tbody>
</table>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
