{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block side_bar %}
<div class="col-md-2" id="landingpage">
      <div class="landingpageitems">
          <li><a class="anchor" href="#introduction" data-scroll="content0">Introduction</a></li>
          <li><a class="anchor" href="#try-it-now" data-scroll="content1">Try it now</a></li>
          <li><a class="anchor" href="#How to use PartHub" data-scroll="content2">How to use PartHub</a>
        <ul class="second-pannel">
            <li>
                <a class="anchor" href="#for-common-users">For common users</a>
            </li>
            <li>
                <a class="anchor" href="#for-developers">For developers</a>
            </li>
        </ul>
        <li><a class="anchor" href="#contribution-to-the-igem-community" data-scroll="content3">Contribution to the iGEM community</a>
        </li>
        <li><a class="anchor" href="#design-and-implementation" data-scroll="content4">Design and Implementation</a>
            <ul class="second-pannel">
            <li>
                <a class="anchor" href="#web-crawler">Web Crawler</a>
            </li>
            <li>
                <a class="anchor" href="#deployment-of-parthub">Deployment of PartHub</a>
            </li>
            <li>
                <a class="anchor" href="#search-logic">Search logic</a>
            </li>
            <li>
                <a class="anchor" href="#visualization-of-relationship-between-parts">Visualization of relationship between parts</a>
            </li>

            <li>
                <a class="anchor" href="#cross-platform-compatibility">Cross-platform compatibility</a>
            </li>
        </ul>
        </li>
        <li><a class="anchor" href="#outlook" data-scroll="content5">Outlook</a></li>
        <li><a class="anchor" href="#acknowledgment" data-scroll="content6">Acknowledgment</a></li>
      </div>
    </div>
{% endblock %}

{% block page_content %}
<!-- DO NOT CHANGE ANYTHING ABOVE, ADJUST highlight pictures BELOW -->

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
          <li data-bs-target="#mycarousel" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
            <div class="container-carousel">
              <h1>
                A quick, efficient and powerful tool for building and designing new parts
              </h1>
            </div>
          </div>
          <div class="carousel-item">
            <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
            <div class="container-carousel">
              <h1>
                Provide multiple ways for searching for previously designed parts
              </h1>
            </div>
          </div>
          <div class="carousel-item">
            <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
            <div class="container-carousel">
              <h1>
                Visualization of the relationship between parts
              </h1>
            </div>
          </div>
            <div class="carousel-item">
            <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
            <div class="container-carousel">
              <h1>
                Can be used across various platforms and no need for downloading and setting up the environment
              </h1>
            </div>
          </div>

        </div>
        <a href="#mycarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
          <span class="visually-hidden">Previous</span>
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#mycarousel" class="carousel-control-next" role="button" data-bs-slide="next">
          <span class="visually-hidden">Next</span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>

<!-- ADJUST PAGE CONTENT BELOW -->

<p><img src="https://static.igem.wiki/teams/4162/wiki/software/multi-device.png" alt="multi-device.png (3011×2006) (igem.wiki)" max-width="100%" height="auto"></p>

<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content0">
<h2 id="introduction">Introduction</h2>
<p>The research approach of synthetic biology is more like an engineering method than a traditional biological method. In practice, the designs of synthetic biology are focused on biological functions. That is to say that synthetic biology follows the principle of from bottom to top, specifically from parts to devices and finally to system. As is explained above, parts, as the foundation, play an important role.</p>
<p>The idea of parts standardization was put forward by Drew Endy in 2005. When creating or modifying corresponding biological components, the standardization of parts must be carried out. For the standardized settings of parts, the parts created by one person can be reused by all researchers through standardized settings. And that’s why all teams must submit their parts in the iGEM competition.</p>
<p>Since a great database of standardized parts had been provided by the iGEM community, there’s no reason not to make full use of the parts database. A problem was encountered when first collecting information and resources for our parts design this year. Although the parts database is provided, we cannot quickly identify which part is most related to our project from the parts registration page because there is no powerful search tool for us yet.</p>
<p>Therefore, we decided to develop PartHub for the iGEM community, as an assistant tool for the parts database. We hope that PartHub can help future teams and researchers in their the Design-Build-Test-Learn(DBTL) pipelines.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
<h2 id="try-it-now">Try it now</h2>
<div class="writebox" style="float: left">
		<table colspan="1" width="100%" cellspacing="2" cellpadding="0">
		<tr width="100%" align="left" colspan="0">
			<td>
				<img src="https://static.igem.wiki/teams/4162/wiki/software/searchicon.svg" alt="searchlogo" style="height:27px;"/>
			</td>
			<td width="95%">
				<input id="input_kwd" type="text" autofocus="off" name="s" autocomplete="on" style="width:95%;height:100%;border:0;padding:3px;background:#fff;border-radius:10px;">
			</td>
		</tr>
	</table>
	</div>
	<div>
		Search by:<br/>
		<input type="radio" name="searchtype" value="number">ID
		<input type="radio" name="searchtype" value="name" >Name
		<input type="radio" name="searchtype" value="sequence">Sequence
		<input type="radio" name="searchtype" value="designer">
		Designer
		<input type="radio" name="searchtype" value="team">
		Team
		<input type="radio" name="searchtype" value="contents">Content
	</div>
  	<div>
		<button id="bottom" type="button" onClick="search();" style="background-color:#ee994d;border:none;border-radius:5px;padding-left:15px;padding-right:15px;">Submit</button>
	  </div>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
<h2 id="how-to-use-parthub">How to use PartHub</h2>
<h3 id="for-common-users">For common users</h3>
<p>Below is an overview of PartHub’s workflow.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/software/parthub-workflow-withbg.png" alt="parthub-workflow.png (2125×1063) (igem.wiki)"></p>
<ol>
<li>
<p>Visit PartHub, for example, <a href="http://3.238.241.161:5000/">http://3.238.241.161:5000/</a>. The page returned should be:</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/software/homepage.gif" alt="homepage.gif (1145×758) (igem.wiki)"></p>
</li>
<li>
<p>Select the search type and enter search terms (e.g. search type is Content &amp; search term is carotene).  The format of the search terms corresponding to different search types is as follows:</p>

<table>
<thead>
<tr>
<th align="center">Search type</th>
<th align="center">Meaning &amp; Format</th>
<th align="center">Example</th>
<th align="center">Example URL</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">ID</td>
<td align="center">The id of the part (e.g. BBa_xxxxxxxx). It is fine to enter a search term with or without BBa_.</td>
<td align="center">K3790012</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=K3790012&amp;searchtype=number">Click me</a></td>
</tr>
<tr>
<td align="center">Name</td>
<td align="center">The id of the part (e.g. BBa_xxxxxxxx). It is fine to enter a search term with or without BBa_.</td>
<td align="center">GFP</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=GFP&amp;searchtype=name">Click me</a></td>
</tr>
<tr>
<td align="center">Sequence</td>
<td align="center">The sequence of the part (if it exists). The search term can only be the combination of [a, t, g, c, A, T, G, C].</td>
<td align="center">TTAACTTTAAGAAGGAG</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=TTAACTTTAAGAAGGAG&amp;searchtype=sequence">Click me</a></td>
</tr>
<tr>
<td align="center">Designer</td>
<td align="center">The name of the person who designed the part.</td>
<td align="center">Guanqiao Chi</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=Guanqiao%20Chi&amp;searchtype=designer">Click me</a></td>
</tr>
<tr>
<td align="center">Team</td>
<td align="center">The name of the team which designed the part.</td>
<td align="center">Fudan</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=Fudan&amp;searchtype=team">Click me</a></td>
</tr>
<tr>
<td align="center">Content</td>
<td align="center">The content of the part in Registry of Standard Biological Parts.</td>
<td align="center">carotene</td>
<td align="center"><a href="http://3.238.241.161:5000/sp?s=carotene&amp;searchtype=contents">Click me</a></td>
</tr>
</tbody>
</table><p>All searches here are case-insensitive and support partial match retrieval. In addition, PartHub supports boolean search with multiple search terms (The format of the boolean search with multiple search terms should be xxx AND xxx or xxx OR xxx).</p>
<p>What’s more, PartHub supports fuzzy search. For example, if you want to search for <em>beta AND carotene</em> but you accidentally type in <em>bata AND carotene</em>, PartHub will automatically do the fuzzy search for you and the result will be:</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/software/fuzzysearch.png" alt="fuzzysearch.png (2880×1800) (igem.wiki)"></p>
</li>
<li>
<p>View sorted searching results (you can choose certain sorting order). PartHub provides several ways to sort the results, like Most cited, Best match, etc. In this way, users can organize the result in order to their needs. Sorting by Recommended is a weighted sort that considers various aspects of suitability and can be used in situations where users are unsure which sort is more appropriate for their needs.</p>
</li>
<li>
<p>Click on a specific part you are interested in and visualize the relationship network of this part. The page is as follows:</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/software/graph.gif" alt="graph.gif (1145×758) (igem.wiki)"></p>
<p>This relationship network is interactive, you can scroll to zoom the canvas and drag to move the nodes. Click to display the part details and double click to go to the part page. You can drag nodes to change the layout of the canvas. On this page, you can also get the sequence of this part directly.</p>
<h3 id="for-developers">For developers</h3>
<p>The source code is in our <a href="https://gitlab.igem.org/2022/software-tools/fudan">GitLab</a>.</p>
<p>The system requirements to deploy PartHub are as follows:</p>

<table>
<thead>
<tr>
<th>Minimum</th>
<th></th>
<th>Recommended</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>CPU</td>
<td>2core, 2.4GHz</td>
<td>CPU</td>
<td>8core, 2.9GHz</td>
</tr>
<tr>
<td>Memory</td>
<td>8GB</td>
<td>Memory</td>
<td>16GB</td>
</tr>
<tr>
<td>Hard Drive</td>
<td>20GB, SSD</td>
<td>Hard Drive</td>
<td>512GB, SSD</td>
</tr>
<tr>
<td>Network</td>
<td>Broadband Internet connection</td>
<td>Network</td>
<td>Broadband Internet connection</td>
</tr>
</tbody>
</table></li>
<li>
<p>The <code>DataBase</code> file contains code to import data into the database.</p>
</li>
<li>
<p>The <code>WebCrawler</code> file contains code to get data from the Registry of Standard Biological Parts. If you want to update the data for a new year, replace the year in <a href="https://gitlab.igem.org/2022/software-tools/fudan/-/blob/main/WebCrawler/software_ver0.4.py#L679">line 679</a> of <code>software_ver0.4.py</code> with the year you want to get the data for. Then you can run <code>MergeCSVFiles.py</code> to get the new <code>all_collections.csv</code>. Then run <code>Preprocessing.py</code> to get <code>all_collections_filted.csv</code>. After uploading the data via <code>LoadCSVFile.py</code>, you are done updating the data in PartHub. If you are just getting a year’s worth of data, you can run it on a PC with more than 8 core CPUs(Remember to switch the appropriate number of threads in <code>software_ver0.4.py</code>), but if you want to get multiple years of data, we recommend you to run on a higher performance computer.</p>
</li>
<li>
<p>The <code>.py</code> files are PartHub’s back-end code. The role of each code has been commented in the file.</p>
</li>
<li>
<p>The <code>static</code> file contains static files(images and JavaScript files). The <code>templates</code> file contains front-end HTML files.</p>
</li>
</ol>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content3">
<h2 id="contribution-to-the-igem-community">Contribution to the iGEM community</h2>
<p>Since PartHub contains information on almost all of the Registry of Standard Biological Parts from 2004 onwards, PartHub can be useful for teams with multiple tracks. In the Design-Build-Test-Learn(DBTL)  biological engineering pipeline, PartHub can provide support for all iGEMers in every phase.</p>
<p>During the designing, PartHub can help designers find and focus on sequences, engineering approaches, workflows, componentry, and organisms of interest. In the build phase, PartHub can help you build a combinatorial assembly of DNA-encoded componentry using the previous biobricks of iGEM. You can get some useful protocols in the test phase through PartHub. When organizing and examining data and experiences from the DBT phase to learn, the relationships between the parts that PartHub provides you with can provide you with direction to enlighten the next step of improvement.</p>
<p>The first users of PartHub were Team Fudan's teammates responsible for the part. They replaced the search engine in the Registry of Standard Biological Parts with PartHub this year, which significantly improved the efficiency of their part search. In addition, we introduced PartHub to the community in slack's iGEM 2022 Global and received positive feedback:</p>
<img src="https://static.igem.wiki/teams/4162/wiki/software/feedback.png" alt="feedback.png (2880×1800) (igem.wiki)">
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content4">
<h2 id="design-and-implementation">Design and implementation</h2>
<h3 id="web-crawler">Web Crawler</h3>
<p>To get data of parts from Registry of Standard Biological Parts, the Web Crawler based on the <a href="https://www.selenium.dev/">selenium</a> framework was developed. The information of the parts in the Registry of Standard Biological Parts is standardized, hence the information can be obtained by crawling through the elements of the fixed XPath. We ended up deploying the Web Crawler on a Windows-based server (Linux is also supported). A high-performance computer is recommended due to the vast number of pages on Registry of Standard Biological Parts(It is not suggested to use a PC to run the web crawler), and it’s especially recommended for HPC platforms. The following is our computer configuration:</p>

<table>
<thead>
<tr>
<th>CPUs</th>
<th>Dual Intel® Xeon E5-2680v2(10core, 20thread, 2.80 GHz to 3.60 GHz)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Memory</td>
<td>64GB, DDR3, 1600MHz</td>
</tr>
<tr>
<td>Hard Drive</td>
<td>500GB, NVMe, SSD</td>
</tr>
<tr>
<td>GPU</td>
<td>NVIDIA® GeForce GTX1050 Ti</td>
</tr>
</tbody>
</table><p>Additionally, since the Web Crawler supports inputting a range of years to crawl data, it just needs to crawl the most recent year’s data for merging with each year’s update to achieve continuous updates of the parts stored in PartHub.</p>
<p>Finally, after merging each year’s collection and data cleaning, we will save the collected data to a .csv file, which will include information such as the part number and name, content, citation, etc.</p>
<h3 id="deployment-of-parthub">Deployment of PartHub</h3>
<p>The acquired .csv file will be loaded to establish nodes for each part, construct a relationship network of parts with citations and twin parts relationships, creating a <a href="https://neo4j.com/">Neo4j</a> database. For querying Neo4j databases afterwards, the <a href="https://neo4j.com/developer/cypher/?ref=cypher-web-page">Cypher</a> language, which is an efficient database query language, is required. To facilitate data transmission between the back-end and the database, <a href="https://py2neo.org/2021.1/#">py2neo</a> is applied to gain database access to the back-end.</p>
<p>PartHub’s back-end is based on python, and a public PartHub is currently working on the server of AWS (Amazon Web Services) with the configuration of t3.xlarge. Private deployment of PartHub or public deployment of mirrored PartHub is warmly welcomed.</p>
<h3 id="search-logic">Search logic</h3>
<p>There are options for what to search, which based on the different features in Registry of Standard Biological Parts. PartHub provides search optimizations such as support for complementary sequence search, fuzzy search, and search result sorting.PartHub provides search optimizations such as support for complementary sequence search, fuzzy search, boolean search with multiple search terms so that users can combine users search terms with and or relations. For the search results, each search result represents a part, and the basic information is neatly listed, click on the title to draw the relationship network tree related to this part as the center, which can find a large number of connections between parts that can not be found in the iGEM built-in search engine.</p>
<p>Also, PartHub provides several ways to sort the results, like Most cited, Best match, etc. In this way, users can organize the result in order to their needs. Sorting by Recommended is a weighted sort that considers various aspects of suitability and can be used in situations where users are unsure which sort is more appropriate for their needs.</p>
<h3 id="visualization-of-relationship-between-parts">Visualization of relationship between parts</h3>
<p>Under the structure of Neo4j, we manage to visualize the relationship between parts. Each node stands for a specific iGEM part in the database, while the line between nodes represents the cite and cited relationship or twin parts relationship. The number of citations and publication time of part are directly presented by the size and color of the nodes. The canvas outputs are interactive, allowing the user to zoom, drag nodes, and click nodes, etc. In addition, the necessary information is presented in a table on the side, and if the part is of interest to the user, he can directly access its page in the Registry of Standard Biological Parts or directly obtain its sequence (if it exists).</p>
<h3 id="cross-platform-compatibility">Cross-platform compatibility</h3>
<p>In order to ensure a robust cross-platform approach for PartHub, we chose to develop a web-based user interaction module. It is also important to use universal features and interfaces when developing web applications in order to achieve good cross-platform performance. PartHub can be used on a PC (either Windows, Linux, or macOS), iPad, iPhone, or Android phone. The following browsers have been tested to work (this does not mean that the browsers not listed do not work):</p>
<ul>
<li>Chrome<img src="https://static.igem.wiki/teams/4162/wiki/software/chrome.svg" alt="chrome" height="64px" width="64px"></li>
<li>Edge<img src="https://static.igem.wiki/teams/4162/wiki/software/edge.svg" alt="edge" height="64px" width="64px"></li>
<li>Firefox<img src="https://static.igem.wiki/teams/4162/wiki/software/firefox.svg" alt="firefox" height="64px" width="64px"></li>
<li>Safari<img src="https://static.igem.wiki/teams/4162/wiki/software/safari.svg" alt="safari" height="64px" width="64px"></li>
</ul>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content5">
<h2 id="outlook">Outlook</h2>
<p>At present, only part of iGEM has been standardized, and we expect to standardize the description or design in the future to obtain more useful knowledge from the iGEM community. In addition, it would be great for the iGEM community to have a public PartHub that can run for a long time with data updating every year.</p>
</div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content6">
<h2 id="acknowledgment">Acknowledgment</h2>
<ul>
<li>Sunzhe Kang (<a href="https://gitlab.igem.org/KangSunzhe">@KangSunzhe</a>)</li>
<li>Shitao Gong (<a href="https://gitlab.igem.org/Tom_GhoST_Smith">@Tom_GhoST_Smith</a>), and 2021's <a href="https://2021.igem.org/Team:Fudan/Software">Part Camera</a>
</li>
</ul>
</div>

<script>
// code to submit to the AWS server
function search(){
			var kwd = document.getElementById("input_kwd").value;
			var type = GetRadioValue("searchtype");
			var url = `http://3.238.241.161:5000//sp?s=${kwd}&searchtype=${type}`;
			window.open(url);
		};
		function GetRadioValue(RadioName){
			var obj;   
			obj=document.getElementsByName(RadioName);
			if(obj!=null){
				var i;
				for(i=0;i<obj.length;i++){
					if(obj[i].checked){
						return obj[i].value;           
					}
				}
			}
			return null;
		}
</script>
{% endblock %}
