{% extends "layout.html" %}
  
{% block title %}Sustainable Development Goals{% endblock %}
{% block lead %}Describe how you have evaluated your project ideas against one or more of the SDGs.{% endblock %}

{% block side_bar %}

<div id="landingpage" style="width:20%">
          <ul>
          <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content" href="#overview">
          <span class="linkname">Overview</span></a>
          </div>
        <ul class="submenu blank">
            <li>
                <a class="anchor linkname" href="#overview">Overview</a>
            </li>
        </ul>
        </li>
        <li>
            <div class="layer">
              <div class="anchor">
                <a class="dot-landingpage" data-scroll="content1" href="#sdg5-gender-equality">
                <span class="linkname">SDG5</span></a>
                </div>
              <img src="https://static.igem.wiki/teams/4162/wiki/arrow-orange.png" class="arrow" style="cursor:pointer"></img>
            </div>
        <ul class="submenu">
            <li>
                <a class="anchor linkname" href="#sdg5-gender-equality">SDG5</a>
            </li>
            <li>
                <a class="anchor" href="#lesson-study-meet-gender">To upstream</a>
            </li>
            <li>
                <a class="anchor" href="#research-questionnaire-focus-on-female">Focus on Female</a>
            </li>
            <li>
                <a class="anchor" href="#interview-communication-merge-gender">Merge Gender</a>
            </li>
        </ul>
          </li>
          <li>
            <div class="layer">
              <div class="anchor">
                <a class="dot-landingpage" data-scroll="content2" href="#sdg3-well-being--welfare">
                <span class="linkname">SDG3</span></a>
                </div>
              <img src="https://static.igem.wiki/teams/4162/wiki/arrow-orange.png" class="arrow" style="cursor:pointer"></img>
            </div>
        <ul class="submenu">
            <li>
                <a class="anchor linkname" href="#sdg3-well-being--welfare">SDG3</a>
            </li>
            <li>
                <a class="anchor" href="#skincare-for-patients-with-skin-diseases">For patients</a>
            </li>
            <li>
                <a class="anchor" href="#skincare-for-the-stressed">For the stressed</a>
            </li>
        </ul>
          </li>
          <li>
            <div class="layer">
              <div class="anchor">
                <a class="dot-landingpage" data-scroll="content3" href="#sdg12-sustainable-consumption-and-production">
                <span class="linkname">SDG12</span></a>
                </div>
              <img src="https://static.igem.wiki/teams/4162/wiki/arrow-orange.png" class="arrow" style="cursor:pointer"></img>
            </div>
        <ul class="submenu">
            <li>
                <a class="anchor linkname" href="#sdg12-sustainable-consumption-and-production">SDG12</a>
            </li>
            <li>
                <a class="anchor" href="#to-midstream-corporations">To midstream</a>
            </li>
            <li>
                <a class="anchor" href="#to-downstream-consumers">To downstream</a>
            </li>
        </ul>
          </li>
          </ul>
</div>
{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
<h2 id="overview">Overview</h2>
<p>We have developed a series of SDG activities around skin care. The focus is on <strong>SDG 5 - gender equality</strong>, with <strong>SDG 3 - good health and well-being</strong>, and <strong>SDG 12 - responsible production and consumption</strong>. Our activities include discussing and improving our programs with gender studies scholars, weblebrities KOL, and other stakeholders. In addition, we research the right to education, especially for children in remote areas and people with disabilities. Our sustainability research focuses on SDG 5 and extends to other SDGs and provides detailed documentation for other goals to draw on in future projects.</p>
<p>To achieve our goals, we design and refine our experiments in the hope that one day our modest efforts will help the general public better understand <strong>skin health and skincare</strong> without feeling worldly bias or real-life difficulties as a result. For most people, skin health is just as important as gut health or respiratory health. <strong>They are both parts of the body and deserve equal attention.</strong></p>
<p>Soon, we realized that in order to achieve our goals, or in other words, we had to get out of the lab and into real life and involve more people in our program.</p>
<p>In our process of observation, practice, and reflection, we realized that the seventeen Sustainable Development Goals (SDGs) are not isolated, but are concepts intertwined in our investigations, interviews, and debates.</p>
<p>The social nature of human beings places everyone and everything in a universal relationship. The SDGs are no exception; they are a beautiful pursuit of human life and part of a universal relationship, interdependent and mutually reinforcing. This is the insight we have learned from our practice regarding the SDGs.</p>
<p>The main focus of our project is <strong>SDG 5 - gender equality</strong> , <strong>SDG 3 - good health and well-being</strong>, and <strong>SDG 12 - responsible consumption and production</strong>.</p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
  <h2 id="sdg5-gender-equality">SDG5 Gender Equality</h2>
<blockquote>
<p>UN: Gender equality is not just a primary human right, but also the cornerstone for peace prosperity, and sustainability of the world.</p>
</blockquote>
<p>When it comes to gender equality and gender studies, women always come to mind first. <strong>The reality around the world is that women are indeed disadvantaged in gender roles. The situation is particularly bad in economically underdeveloped and remote areas.</strong> In fact, <strong>gender concerns about men should also be taken seriously</strong>. In the field of skin care, for example, men’s skin care seems to be something that is not recognized by the public. In response, we have made the following efforts.</p>
<h3 id="lesson-study-meet-gender">2.1 Lesson Study: Meet Gender</h3>
<ul>
<li>
<p><strong>Who is our teacher?</strong></p>
<p><strong>Yan Chen</strong> is a professor and deputy chair of the Department of History at Fudan University, and the Chinese director of the Fudan-Michigan University Gender Institute. Her course “Gender and History” at Fudan University has been well received by students.</p>
</li>
<li>
<p><strong>What did we do?</strong></p>
<p>For most of us, gender may be an abstract concept. Before exploring how to promote gender equality, we should first understand gender and meet gender. Our team member Wang Zihan took the course “Gender and History” taught by Professor Chen, and recorded a promotional video “<strong>IT’S GENDER, NOT BORDER</strong>”, which was presented at the Gender Salon with more than 200 participants.</p>
</li>
</ul>
<p><img src="https://static.igem.wiki/teams/4162/wiki/wzh/ppt-01.png" alt=""><br>
Figure 1. The subject of the gender presentation</p>
<p>PPT is the following:<br>
<a href="https://static.igem.wiki/teams/4162/wiki/wzh/ppt.pdf">enter link description here</a></p>
<ul>
<li>
<p><strong>What did we learn?</strong></p>
<p>Gender is not inherent or unchanging. Prejudices about gender are not determined by the biology of men and women, but are constructed by culture and society, so they change with the times and society.</p>
<p>Gender bias is an oppression of colorful human nature, not only for women, but also for men. <strong>Labeling behaviors such as skincare and beauty as gender is in some ways a form of gender bias.</strong> <strong>As a team that values gender equality, we should pay attention to gender bias in skincare in our next experiments and work.</strong></p>
</li>
</ul>
<h3 id="research-questionnaire-focus-on-female">2.2 Research Questionnaire: Focus on Female</h3>
<ul>
<li>
<p><strong>Who are they?</strong></p>
<p><strong>Women</strong> are usually considered as the main group of skincare. It is a new perspective to observe the female skincare group from the whole skincare group.</p>
</li>
<li>
<p><strong>What did we do?</strong></p>
<p>We designed a skincare usage questionnaire for the general public and <strong>received 432 valid questionnaires, of which 314 (72.69%) were from women</strong>. By analyzing the questionnaires, we found that the ratio of men to women remained the same on the usual questions of “whether or not to use skincare products” and “frequency of using skincare products”. This is different from the common belief that women are the main force in skin care. However, on the question of the “purpose of using skin care products”, there is a big difference between male and female research results. Take anti-aging and wrinkle removal as an example, the main group with anti-aging and wrinkle removal needs is the group aged 41-60 (73 people), and the majority of this group are women (70 people), accounting for 95.89%.</p>
</li>
</ul>
<p><img src="https://static.igem.wiki/teams/4162/wiki/wzh/222.jpg" alt=""><br>
Figure 2. Sex ratio of all or of groups using skin care products</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/wzh/111.jpg" alt=""><br>
Figure 3. Skincare frequency of women or men</p>
<ul>
<li>
<p><strong>What did we learn?</strong></p>
<p><strong>Both women and men have skincare needs but their skincare habits are different.</strong> On average, men take care of their skin less often than women. And women’s skincare purposes differed significantly from those of men. This may be related to the limitations of the sample or the different perceptions of male and female skincare. In this regard, in our next work, <strong>we will focus on the specific needs of women’s skincare and adapt our experiments and projects to improve them.</strong></p>
</li>
</ul>
<h3 id="interview-communication-merge-gender">2.3 Interview Communication: Merge Gender</h3>
<ul>
<li>
<p><strong>Who is the interviewee?</strong></p>
<p><strong>Mengdesijiu</strong> is a beauty blogger who has 220,000 followers on the video site bilibili. She is very interested in beauty and skincare gender issues.</p>
</li>
<li>
<p><strong>What did we do?</strong></p>
<p>We conducted an offline interview with her to discuss skincare and beauty issues in a face-to-face format, and to talk more about skincare gender issues.</p>
<p><strong>Q1</strong>: How do you feel about the lack of male roles in skincare and beauty?<br>
<strong>A1</strong>: 20% of my fans are men, and I once did makeup for a “ladyboy” in one of my videos. My male fans often leave comments in the comments section, saying that there is no suitable channel to get knowledge. <strong>It’s not that men are not interested in makeup and skincare, they require beauty and healthier skin, but they don’t know where to learn about it</strong>.</p>
<p><strong>Q2</strong>: What are your thoughts or solutions to solve the current situation of men’s makeup and skincare not being recognized?<br>
<strong>A2</strong>: First of all, I think the market is calling and waiting for the rise of the male skincare sector. From my perspective, the most intuitive manifestation of this is the call for the rise of male beauty bloggers. Secondly, <strong>skincare products only differ in skin type, not gender</strong>. We need to weaken the gender concept of skincare. This needs to be driven by a part of the business with interest. This part of the business has its own internal drive to develop the male market, and the market and the business will form virtuous cooperation, thus opening up new business areas.<br>
Therefore, <strong>I believe that a new market is needed to guide the public and men</strong>.</p>
</li>
<li>
<p><strong>What did we learn?</strong></p>
<p>Skincare does not have a gender, it is the original market that gives it a gender. Promoting gender equality from a skincare perspective requires the joint efforts of the market, KOLs, and the public. <strong>We can start from our team</strong>, cooperate with KOL, appeal to the market, educate the public, <strong>to gradually realize gender equality in skincare</strong>. And use this as a cornerstone to <strong>help gender equality in other fields</strong>.</p>
</li>
</ul>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
  <h2 id="sdg3-well-being--welfare">SDG3 Well-being &amp; Welfare</h2>
<blockquote>
<p>UN: To ensure healthy lives and promote well-being for all at all ages.</p>
</blockquote>
<p>After a series of gender research associated with skincare, we found no difference in genders but in skin types. Skincare is simply about protecting one’s skin and maintaining health. Like any other organ, skin is unisex; thus, <strong>no tag should be stuck to skin protection</strong>. Skincare is not a woman thing. Skincare aims to keep or regain skin health. <strong>Well-being, including the skin, and welfare is a global pursuit, which resonates with the sustainable development goal proposed by the United Nations.</strong></p>
<h3 id="skincare-for-patients-with-skin-diseases">3.1 Skincare for patients with skin diseases</h3>
<ul>
<li>
<p><strong>Who are they?</strong></p>
<p>One group of people seems to be greatly ignored by the boosting skincare industry: <strong>skin disease patients</strong>.</p>
</li>
<li>
<p><strong>What did we do?</strong></p>
<p><strong>-Interview: Plights faced by skin disease patients</strong></p>
<p>Li, one of our team members, has been suffering from skin disorders for years. Years of treatment and seeking suitable skincare products make her experienced in this topic.<br>
<img src="https://static.igem.wiki/teams/4162/wiki/patients-picture.png" alt=""><br>
Based on our talks with skin disease patients and Li’s descriptions, we can summarize the skincare difficulties faced by patients into the following points:</p>
<ol>
<li>Their skin barriers are more vulnerable than others, and different skin diseases can induce various reactions toward numerous ingredients in skincare products. However, the current skincare market isn’t qualified enough to provide customized skincare routines.</li>
<li>They’re less likely to take risks for skincare. Regarding their comparatively poor skin status, it’s hard for them to embrace an even more inferior skin status after skincare, even if it is temporary.</li>
<li>They’re more willing to pay for skin status improvements as long as these products are effective. They prioritize efficacy over money or time, which infers their higher tolerance for skincare products’ prices and inconvenience.</li>
</ol>
<p><strong>-Interview: Advice from dermatologists</strong><br>
<img src="https://static.igem.wiki/teams/4162/wiki/doctor-s-picture.png" alt=""><br>
Most doctors suggest that <strong>patients stick to a simple skincare routine besides using medicines</strong>. This may sound not positive, but sadly no better alternatives can be given to skin disease patients.</p>
<p><strong>-Interview: Advice from workers in the skincare industry</strong></p>
<p>Lin works in the skincare industry, responsible for marketing. We asked her for information about their propaganda toward skin disease patients, expecting inspiration from a business perspective.<br>
<img src="https://static.igem.wiki/teams/4162/wiki/worker-s-picture.png" alt=""><br>
<strong>Q</strong>: Patients have a massive demand for skincare products. Facing this enormous market, they love to pay for products but find it hard to find suitable ones. How would companies cover their requests?</p>
<p><strong>A</strong>: The very core is to improve products’ qualities. Patients are more particular about products that still have to be functional. Thus, we need to make products with higher safety standards and qualities.</p>
<p>Given that products are safe and valuable, companies should go for corresponding promoting channels, for instance, clinical fields for expert products. Consumers with particular needs can access specific products through legal, professional and trustworthy channels so that they can feel free to use them.</p>
</li>
<li>
<p><strong>What did we learn?</strong></p>
<p>Skin disease patients are marginalized and should be paid attention to. Caring about their skin status, <strong>they hold higher budgets and long for amelioration</strong>. But it’s hard for them to find suitable products since their demands are neglected. After interviewing <strong>three critical roles in the skincare consumption of skin disease patients: patients, dermatologists and skincare field workers</strong>, we found this dilemma can be alleviated through formal promotions for quality products.</p>
</li>
</ul>
<h3 id="skincare-for-the-stressed">3.2 Skincare for the stressed</h3>
<ul>
<li>
<p><strong>Who are they?</strong></p>
<p>A stressed feeling is a psychological experience induced by pressure and demands. As society precedes faster and faster, social pressure explodes. <strong>The young are getting more stressed than ever.</strong></p>
</li>
<li>
<p><strong>What did we do?</strong></p>
<p><strong>-Cooperation: Self-perception analysis among the stressed led by National University of Defense Technology (NUDT)</strong></p>
<p>The project led by NUDT has associations with visualizing pressure because they highly value a person’s ability to perceive pressure. We worked closely with them on questionnaire analysis. We assisted in the reliability, validity and data analysis. While our team focuses on the synthesis of skincare ingredients, NUDT provided us with a valuable perspective that skin health is greatly affected by stressful situations, so what new skincare behaviors will be spawned by the increasingly fast-paced life and heavy stress in modern society? Team Fudan redesigned a questionnaire based on this and discovered that compensatory or emergency skincare is closely related to people’s stress situations.</p>
<p><strong>-Questionnaire investigation: Correlations between stress and compensatory skincare</strong></p>
<p>Inspired by NUDT, we composed a questionnaire on <strong>stress self-assessment and compensatory skincare</strong>, trying to figure out the correlations between them. We got 304 valid feedback.</p>
<p>Through analysis, stress self-assessment is highly correlated with compensatory skincare. 88.89 percent of the most stressed group in the assessment have a habit of compensatory skincare.</p>
</li>
</ul>
<p><img src="https://static.igem.wiki/teams/4162/wiki/wzh/333.png" alt=""></p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/cross-graph-of-stress-self-assessment-whether-compensatory-skin-caring.png" alt=""><br>
Figure 4. stress self-assessment highly correlated with compensatory skincare</p>
<ul>
<li>
<p><strong>What did we learn?</strong></p>
<p>Skin health belongs to individual health. The skin might not sound as vital as other organs, but it’s still what everyone should be concerned about. Factors like skin diseases and overwhelming stress limit people’s choices of skincare products.</p>
<p>Based on all the above, consumers are expecting an even functional product and focusing on effective constituents in products. Consumers are on the way to <strong>‘functional skincare’</strong>, precisely what research teams, including Team Fudan, that are devoted to synthesizing skincare ingredients, want to see.</p>
</li>
</ul>
  </div>
<div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content3">
<h2 id="sdg12-sustainable-consumption-and-production">SDG12 Sustainable consumption and production</h2>
<blockquote>
<p>UN: Ensure sustainable consumption and production patterns.</p>
</blockquote>
<h3 id="to-upstream-researchers">4.1 To upstream researchers</h3>
<p><strong>Increasing utility to reduce the required dosage</strong></p>
<ul>
<li>
<p><strong>Through transforming the liposoluble retinol into water-soluble compound</strong>, we increase the rate of its release, elevating utility and therefore reducing environmental pollution.</p>
</li>
<li>
<p>Considering that our target is skin tissue, we could produce retinol in forms directly applicable to the skin (i.e. ointments). We adopted a greasy substance that would increase its solubility, achieve higher utility and less pollution.</p>
</li>
</ul>
<p><strong>Ensuring product lifespan</strong></p>
<ul>
<li>Vitamin C, tocopherol and other substances all have skin-protecting properties. When processing harvested retinol into a usable product, <strong>such substances can be added into the combined compound formulation and applied separately, increasing the effect and utility of our product</strong>.</li>
</ul>
<p><strong>Bio-safety of subsidiary materials</strong></p>
<ul>
<li>
<p>We were careful to ensure that no subsidiary materials (or intracellular by-products if left undisposed) would cause harm to the skin.</p>
</li>
<li>
<p>No subsidiary materials in our formula would produce cytotoxic substance through reacting with retinol.</p>
</li>
</ul>
<p><strong>Non-toxic lab reagents</strong></p>
<ul>
<li>
<p>We used no heavily toxic reagents in our experiments and bacterial production.</p>
</li>
<li>
<p>We realize that the intermediate product retinoic acid, produced during production of retinyl retinoate (RR), poses metabolic toxicity to cells. <strong>We therefore rerouted our reaction chain to produce alcohol and aldehyde forms instead of RR</strong>, which greatly reduced the cytotoxicity of our design.</p>
</li>
</ul>
<h3 id="to-midstream-corporations">4.2 To midstream corporations</h3>
<p><strong>Establish consumer portfolios through surveys</strong></p>
<ul>
<li>A full-scale pre-market research can equip companies with sufficient and targeted feedback, which can be analyzed and made into a user portrait. So that various products can be delivered to their target consumers, and waste can be reduced.<br>
(For reference, see the survey analysis on our “<a href="https://2022.igem.wiki/fudan/education">Education</a>” page)</li>
</ul>
<p><strong>Environment-friendly packaging</strong></p>
<ul>
<li>
<p>We use paper packaging and biodegradable plastic to replace the plastic wrappings of our product, in order to reduce pollution.</p>
</li>
<li>
<p><strong>Wrappings would be labeled with product information</strong>, so as to reduce usage of paper components and protect the environment.</p>
</li>
</ul>
<h3 id="to-downstream-consumers">4.3 To downstream consumers</h3>
<p><strong>Reducing waste</strong></p>
<ul>
<li>Consult  experts for skin type assessment before selecting skin-care products, so as to <strong>avoid post-consumption waste</strong>.</li>
</ul>
<p><strong>Choosing sustainable skincare products</strong></p>
<ul>
<li>Try to select environmentally friendly packaging, so that the consumer market would incentivize corporations to make their product design sustainable.</li>
</ul>
  </div>
</div>

<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
