{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}
{% block side_bar %}
<div id="landingpage" style="width:20%">
          <ul>
          <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content" href="#yihan-fang">
                <span class="linkname">Yihan Fang</span></a>
              </div>
          </li>
          <li><div class="anchor">
                <a class="dot-landingpage" data-scroll="content1" href="#weiyi-li">
                <span class="linkname">Weiyi Li</span></a>
              </div>
          </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content2" href="#weiwen-chen">
          <span class="linkname">Weiwen Chen</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content3" href="#zhongyi-yang">
          <span class="linkname">Zhongyi Yang</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content4" href="#zhiyue-chen">
          <span class="linkname">Zhiyue Chen</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content5" href="#yujian-song">
          <span class="linkname">Yujian Song</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content6" href="#zihan-wang">
          <span class="linkname">Zihan Wang</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content7" href="#yunjia-liu">
          <span class="linkname">Yunjia Liu</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content8" href="#yutong-zhang">
          <span class="linkname">Yutong Zhang</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content9" href="#yiyun-pan">
          <span class="linkname">Yiyun Pan</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content10" href="#zihan-zhang">
          <span class="linkname">Zihan Zhang</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content11" href="#haoyuan-lin">
          <span class="linkname">Haoyuan Lin</span></a>
          </div>
        </li>
        <li><div class="anchor">
          <a class="dot-landingpage" data-scroll="content12" href="#xinyang-xu">
          <span class="linkname">Xinyang Xu</span></a>
          </div>
        </li>
        </ul>
</div>
<!-- hide sidebar -->
{% endblock %}
{% block page_content %}

<!-- ADD highlight pictures BELOW -->
<div class="row">
<br/><br/>
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content">
  <h2 id="yihan-fang">Yihan Fang</h2>
<p>I am the team leader of Fudan iGEM 2022, and responsible for Entrepreneurship, and part of Integrated Human Practice, Education and Design. I major in Biological Science, and loves music and languages to an insane extent. By the way, I am an atypical ENTJ.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/yihan-fang.jpg" alt="enter image description here"></p>
  </div>

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content1">
    <h2 id="weiyi-li">Weiyi Li</h2>
<p>I am responsible for Education and Communication. I major in Clinical medicine. I have an intermittent ambition to dream big and a persistent attitude to live life to the fullest. A kind of woman whose enthusiasm would be easily triggered by lively people and beautiful thing! To be honest, My passion is so catching, which greatly contributes to my interpersonal skills. Hopefully these capability can contribute to my work in iGEM human practice as well!<br>
<img src="https://static.igem.wiki/teams/4162/wiki/team/weiyi-li.jpg" alt="lwyyy.jpg"></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content2">
  <h2 id="weiwen-chen">Weiwen Chen</h2>
<p>I’m responsible for parts, design and a small portion of wet lab in 2022 Team Fudan. I major in clinical medicine so this iGEM journey was quite challenging for me. I love music and language arts, and I enjoy wielding my not-so-subtle sense of humor in a crowd. The sarcastic jokes that come out of my mouth and the R&amp;B in my headphones are not all that I am, but a mask that I never take off when I face life.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/wenwei-chen.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content3">
  <h2 id="zhongyi-yang">Zhongyi Yang</h2>
<p>I’m responsible for parts, wet lab and design. Actually I’d never thought one day I would have some connections with iGEM since it sounded competitive requiring very capable members. But the topic this time is so appealing to me that I threw away all my fears and self-denial just for it.  I’m diligent, interested, aroused and whole-percent energetic to this promising program.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/zhongyi-yang.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content4">
  <h2 id="zhiyue-chen">Zhiyue Chen</h2>
<p>I am a clinical medical student who is interested in coding. During the whole year I competed in iGEM, I learned how to collaborate with my teammates. I’m responsible for Software and Model. And this year’s dry lab work has taught me a lot of things that I had never been involved in before. In general, the iGEM trip was challenging but fun for me!</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/zhiyue-chen.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content5">
  <h2 id="yujian-song">Yujian Song</h2>
<p>I was extremely excited when I first got to know iGEM. The cooperation between teammates and the chances to activate my potential attracted me. In this coming long-term program, I am looking forward to developing friendships with my creative partners while gaining a deep insight into our topic about Vitamin A, which is distant from my medical major. I believe that I will enjoy the process of digging and brainstorming.</p>
<p>Having finished the long iGEM journey, I am greatly impressed by the engineering cycle of design-build-test-learn. The most impressive part is the failure and the trials of finding the correct answer for abstruse questions. Besides, I believe interactions between our team and the world matter a lot, not only for the promotion of our program but for the effect we had on the world. When carrying out experiments during wet lab, we are reminded to be careful and always stay curious about strange results, just in case discoveries may be dismissed. What’s more, I also enjoy cooperation with my teammates, who are reliable, sensitive, and helpful. When anyone needed help in our team, others would reach out to help immediately. All efforts we made have contributed to the completion of this inspiring project！</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/yujian-song.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content6">
  <h2 id="zihan-wang">Zihan Wang</h2>
<p>I’m responsible for human practice in 2022 Team Fudan. I am sincerely glad to join the team and contribute to it. I major in life science but I’m not a typical science student. I enjoy communicating with people and analyzing the principles behind social phenomena. This iGEM journey is quite a great chance for me to combine my major with my hobby and apply it to reality.</p>
<p>The iGEM is not a one-man competition while cooperation is needed. When working toward a common goal, the whole team felt inspired and accomplished. We are a team!</p>
<p>The journey of iGEM 2022 is coming to an end. But I firmly believe that our team will take the memorable efforts, spirit and friendship with us to the next stage of our study and life.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/zihan-wang.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content7">
  <h2 id="yunjia-liu">Yunjia Liu</h2>
<p>Hi, this is Yunjia Liu, currently a sophomore student majoring in Biology at Fudan University. I always have a positive attitude towards life and keep my curiousity. When not in the library and lab, you often can find her on the volleyball court. Although this is her first time participating in iGEM, she is ready to take up challenges and overcome possible difficluties with the whole team.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/yunjia-liu.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content8">
  <h2 id="yutong-zhang">Yutong Zhang</h2>
<p>I am one of the art designers of the team. I think working together as a team to achieve a common goal can be a very memorable experience, especially when our collaboration has a positive impact on both science and human society. iGEM gave me the chance, so I came to do the best of my ability.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/yutong-zhang.jpg" alt="yutong-zhang.jpg (2000×3000) (igem.wiki)"></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content9">
  <h2 id="yiyun-pan">Yiyun Pan</h2>
<p>I’m excited to be a member of 2022 Team Fudan. I major in clinical medicine. An art designer as I worked in the team, I’ve improved my knowledge of biology and cooperation skills in graphic design during the 7-month journey. I’ve discovered the difference between painting alone and collaborating on web design. It’s the communication and cooperation among different sections when combating as a team matters.</p>
<p>Our journey as a team is coming to an end, however, the inspiring work we did and the time we spent together will keep on encouraging me in my study and my life.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/yiyun-pan.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content10">
  <h2 id="zihan-zhang">Zihan Zhang</h2>
<p>Hi, this is Zihan Zhang.</p>
<p>Being a senior college student majoring biology in at Fudan University, I am in charge of the team wiki. Coding with HTML is quite strange to me, but I am eager to do his best.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/team/zihan-zhang.jpg" alt=""></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content11">
  <h2 id="haoyuan-lin">Haoyuan Lin</h2>
<p>As a student in the School of Pharmacy, I have dabbled in biology, biochemistry, computational chemistry, and some other fields. When I first learned about iGEM, I was delighted that I saw an opportunity to combine all of my areas of interest. It is my great honor to work with a group of like-minded partners for a common goal.<br>
<img src="https://static.igem.wiki/teams/4162/wiki/team/linhaoyuan.jpg" alt="enter image description here"></p>
  </div>
  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="content12">
  <h2 id="xinyang-xu">Xinyang Xu</h2>
<p>I’m very glad to be a member of 2022 Team Fudan. I major in life science and I worked as an art designer on this team. I’m excited to combine my hobby and my major and make full use of my talent in this event. I have learned a lot and made many friends here. Even the event is coming to an end, I will keep this memory and the friendship I got forever.</p>
<p><img src="https://static.igem.wiki/teams/4162/wiki/index/team/xxy.jpg" alt=""></p>
  </div>
</div>
<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
