{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}
{% block side_bar %}

<!-- ADD HERE for SIDEBAR -->

{% endblock %}
{% block page_content %}

<!-- ADJUST highlight pictures BELOW -->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#mycarousel" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              A quick, efficient and powerful tool for building and designing new parts
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Provide multiple ways for searching for previously designed parts
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Visualization of the relationship between parts
            </h1>
          </div>
        </div>
          <div class="carousel-item">
          <div class="overlay-image" style="background-image: url(https://static.igem.wiki/teams/4162/wiki/software/code.png)"></div>
          <div class="container-carousel">
            <h1>
              Can be used across various platforms and no need for downloading and setting up the environment
            </h1>
          </div>
        </div>

      </div>
      <a href="#mycarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a href="#mycarousel" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div><!-- close col-md-8 -->
</div>

<!-- ADJUST PAGE CONTENT BELOW -->

<div class="row">

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="change change change An ID must not contain whitespace">
    <h2 id="change to unique An ID must not contain whitespace">section title</h2>
    <h3 id="change must unique An ID must not contain whitespace">paragraph title</h3>
    <p>To get datxx xx</p>
    <table>
    <thead>
      <tr>
        <th>head 1</th>
        <th>head 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>content row 1111</th>
        <th>content row 222</th>
      </tr>
    </tbody>
    </table>
    <p>To get datxx xx</p>
    <p>To get datxx xx</p>
    <ol>
      <li>sadfw sdaes adsaes11adf</li>
      <li>sadfw sdaes adsae2sadf</li>
    </ol>
    <p>above ordered list, below not ordered</p>
    <ul>
      <li>sadfw sdaes adsaes11adf</li>
      <li>sadfw sdaes adsae2sadf</li>
    </ul>
  </div>

  <div class="offset-md-3 col-md-7 col-sm-12 my-lg-5 content section" id="change change An ID must not contain whitespace">
    <h2 id="change to unique 2 An ID must not contain whitespace">section title 2</h2>
    <h3 id="change must unique 2 An ID must not contain whitespace">paragraph title 2</h3>
    <p>To get datxx yy</p>
    <p>To get datxx zz</p>
  </div>

</div>
<!-- DO NOT TOUCH THE END BELOW-->
{% endblock %}
