
{% extends "layout.html" %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>divflow</title>
    <link rel="stylesheet" href="static/divflow.css">
    <link rel="stylesheet" href="static/wheel-menu.css">
</head>

<body>

<div class="menu">

    <div class="toggle"><ion-icon name="add-outline"></ion-icon></div>
    <div class="cancel"><ion-icon name="arrow-back-circle-outline"></ion-icon></div>
    <div class="menuitem" style="--i:0">
        <div class="toggle1"><ion-icon name="hand-left-outline"></ion-icon></div>
        <li style="--j:0">
            <a href="#home"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </li>
        <li style="--j:1">
            <a href="#home"><ion-icon name="arrow-down-outline"></ion-icon></a>
        </li>
        <li style="--j:2">
            <a href="#home"><ion-icon name="arrow-forward-outline"></ion-icon></a>
        </li>
        <li style="--j:3">
            <a href="#home"><ion-icon name="arrow-up-outline"></ion-icon></a>
        </li>
        <li style="--j:4">
            <a href="#home"><ion-icon name="ban-outline"></ion-icon></a>
        </li>
    </div>
    <div class="menuitem" style="--i:1">
        <a href="#1"><ion-icon name="alert-circle-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:2">
        <a href="#1"><ion-icon name="airplane-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:3">
        <a href="#1"><ion-icon name="bandage-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:4">
        <a href="#1"><ion-icon name="bowling-ball-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:5">
        <a href="#1"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:6">
        <a href="#1"><ion-icon name="cloud-upload-outline"></ion-icon></a>
    </div>
    <div class="menuitem" style="--i:7">
        <a href="#1"><ion-icon name="diamond-outline"></ion-icon></a>
    </div>

</div>

<section id="heading">
    <div id="headingbackground">
        <div id="headinglogo">

        </div>
    </div>
</section>

<section id="animation">
    <blockquote>
        This is an animation for testing.
        <span></span>
    </blockquote>
    <div id="orange1">

    </div>

    <div id="yellow">

    </div>

</section>

<section id="animation1">
    <div id="lightgreen">

    </div>
</section>

<section id="animation2">
    <div id="darkgreen1">

    </div>
</section>

<section id="animation3">
    <div id="orange2">

    </div>
</section>

<section id="animation4">
    <div id="orange3">

    </div>
    <div id="darkgreen2">

    </div>
</section>

<section>
    <h1>
        Scroll up
    </h1>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>
<script src="static/divflow.js"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="static/wheelmenu.js"></script>
</body>
</html>

{% endblock %}
