<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'divflow.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'wheel-menu.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'loading.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'landingpage.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'product.css') }}?v={{ __build__ }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'footer.css') }}?v={{ __build__ }}">

    <title>{% block title %}{% endblock %} | Fudan - iGEM 2022</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->

  <!-- Page Content -->

    {% block page_content %}{% endblock %}


  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Wiki Tools: Teams are allowed to remove it -->
  {% include 'wiki-tools.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'jquery-2.1.1.min.js') }}"></script>  
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'TweenMax.min.js') }}"></script>  
  <script src="{{ url_for('static', filename = 'TimelineMax.min.js') }}"></script> 
  <script src="{{ url_for('static', filename = 'ScrollMagic.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'animation.gsap.min.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename = 'ionicons.esm.js') }}"></script>
  <script nomodule src="{{ url_for('static', filename = 'ionicons.js') }}"></script>

  <script src="{{ url_for('static', filename = 'wheelmenu.js') }}?v={{ __build__ }}"></script>
  <script src="{{ url_for('static', filename = 'loading.js') }}?v={{ __build__ }}"></script>
  <script src="{{ url_for('static', filename = 'divflow.js') }}?v={{ __build__ }}"></script>
  <script src="{{ url_for('static', filename = 'landingpage.js') }}?v={{ __build__ }}"></script>
</body>
</html>
