<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'divflow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'wheel-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'loading.css') }}">
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'landingpage.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | Fudan - iGEM 2022</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->
  <header class="bg-hero py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-black mt-5 mb-2">{{ self.title() }}</h1>
	        <p class="lead mb-5 text-grey-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Wiki Tools: Teams are allowed to remove it -->
  {% include 'wiki-tools.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'jquery-2.1.1.min.js') }}"></script>  
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'TweenMax.min.js') }}"></script>  
  <script src="{{ url_for('static', filename = 'TimelineMax.min.js') }}"></script> 


  <script src="{{ url_for('static', filename = 'ScrollMagic.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'animation.gsap.min.js') }}"></script>



  <script src="{{ url_for('static', filename = 'landingpage.js') }}"></script>

  <script type="module" src="{{ url_for('static', filename = 'ionicons.esm.js') }}"></script>
  <script nomodule src="{{ url_for('static', filename = 'ionicons.js') }}"></script>

  <script src="{{ url_for('static', filename = 'wheelmenu.js') }}"></script>
  <script src="{{ url_for('static', filename = 'loading.js') }}"></script>
  <script src="{{ url_for('static', filename = 'divflow.js') }}"></script>

</body>
</html>
