body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f4efd1;
    border: 0;
    box-sizing: border-box;
}
section{
    font-size: 2rem;
}
menu{
    position: absolute;
    left: 5%;
    top: 0;
    bottom: 0;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

hr{
    height: 5px !important;
    background-color: #0c4128;
    border: 0 !important;
    margin: 0 !important;
}

#heading{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/home-page.png");
    background-position: top;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
#circle1{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/index/index/yuantubiao.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
}
#rester{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 10%;

}
#logo{
    opacity: 60%;
    max-width: 100%;
    max-height: 100%;
}
#masks{
    background-color: #0c4128;
}

#mask1{
    margin-top: 30%;
    display: block;
    max-height: 100%;
    position: absolute;
    min-width: 750px;
}
#mask2{
    position: absolute;
    display: block;
    color: white;
    margin-top: 600px;
    max-width: 500px;
    right: 5%;
}
#routes{
    color: black;
    font-size: 3rem;
    height: 100vh;
}
#route1{
    margin: 5%;
    margin-left: 8%;
    margin-right: 8%;
    width: 100vw;
    background-image: url("https://static.igem.wiki/teams/4162/wiki/index/index/vc-background.png");
    background-position: center;
    background-size: cover;
    align-content: center;
    justify-content: center;
}
.route_word{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    top: 20%;
    margin-top: 5%;
    margin-right: 35px;
    margin-left: 35px;
    background-color: white;
    opacity: 70%;
}
.route_word p{
    text-align: center;
}
.reasons_word{
    background-color: #0c4128;
    color: white;
    font-size: 4rem;
    font-weight: 200;
}
#reasons1{
    margin-top: 10%;
}
#reasons1 .reasons_word{
    margin-top: 5%;
    margin-left: 5%;
}
#reasons2{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 60vh;
    margin-left: 5vw;
}
#reasons1{
    margin-top: 10%;
}
#reasons3 .reasons_word{
    margin-top: 50%;
    margin-left: 3%;
    margin-bottom: -60%;
}
#reasons4{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    margin-top: 5vh;
    margin-left: 50vw;

}
.women_men_word{
    background-color: #0c4128;
    color: white;
    font-size: 4rem;
    font-weight: 200;
}
#women_men1{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
}
#women_men2{
    margin-top: 30%;
    margin-bottom: -20%;
}
#women_men2 .women_men_word{
    margin-top: 8%;
}
#women_men3{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    margin-top: 55vh;
    margin-left: 52vw;
}
#women_men4{
    margin-top: 5%;
    margin-right: 5%;
}
#women_men4 .women_men_word{
    margin-top: 8%;
}
.ideas_word{
    background-color: #0c4128;
    color: white;
    font-size: 4rem;
    font-weight: 200;
}
#ideas1{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
}
#ideas2{
    margin-top: 30%;
    margin-bottom: -20%;
}
#ideas2 .ideas_word{
    margin-top: 8%;
}
#ideas3{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    margin-top: 55vh;
    margin-left: 52vw;
}
#ideas4{
    margin-top: 5%;
    margin-right: 5%;
}
#ideas4 .ideas_word{
    margin-top: 8%;
}
#pictures{
    width: 100%;
    height: 100%;
}
#pictures #pincontainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#slidecontainer{
    width: 200%;
    height: 100%;
}
#slidecontainer section{
    height: 100%;
    width: 50%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ribozyme{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/ribozyme.jpg");
}
#tears{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/tears.jpg");
}
#menues{
    height: 50vh;
}
