body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f4efd1;
    border: 0;
    box-sizing: border-box;
}

section{
    font-size: 1.5rem;
}
@media(max-width: 767px){
    section{
        font-size: 1.3rem !important;
    }
}
menu{
    position: absolute;
    left: 5%;
    top: 0;
    bottom: 0;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

hr{
    height: 5px !important;
    background-color: #598364;
    border: 0 !important;
    margin: 0 !important;
}

#heading{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/home-page.png");
    background-position: top;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
#circle1{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/index/index/circle.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    opacity: 50%;
}
#rester{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 10%;

}
#logo{
    opacity: 60%;
    max-width: 100%;
    max-height: 100%;
}
@media(max-width: 767px){
    #logo{
        margin-top: 50%;
    }
}
@media(min-width: 1400px){
    #data{
    height: 90vh;
}
}
#data{
    height: 110vh;
}
.health_words{
    width: 40vw;
    background-color: #598364;
    color: white;
    font-weight: 200;
    opacity: 0.7;
}
#health_words1{
    margin-left: 8vw;
    margin-top: 3vh;
}
#health_words2{
    margin-left: 40vw;
    margin-top: 5vh;
}
#health_words3{
    margin-left: 20vw;
    margin-top: 2vh;
}
.health_words { padding:  25px }
.route_word, .reasons_word, .women_men_word, .ideas_word, #conclusion { padding:  15px }
@media (max-width: 1400px) {
    .health_words{
        background-color: #598364;
        color: white;
        font-weight: 200;
        width: 65vw;
        font-size: 1.3rem;
    }
    #health_words1{
        margin-left: 8vw;
        margin-top: 5vh;
    }
    #health_words2{
        margin-left: 32vw;
        margin-top: 8vh;
    }
    #health_words3{
        margin-left: 20vw;
        margin-top: 4vh;
    }
}
@media (max-width: 767px) {
    #data{
        height: 130vh;
    }
    .health_words{
        width: 90vw;
    }
    #health_words1{
        margin-left: 8vw;
        margin-top: 5vh;
    }
    #health_words2{
        margin-left: 5vw;
        margin-top: -1vh;
    }
    #health_words3{
        margin-left: 7vw;
        margin-top: -1vh;
    }
}

#masks{
    background-color: #598364;
}

#mask1{
    margin-top: 5%;
    display: block;
    max-height: 100%;
    position: absolute;
    min-width: 600px;
}
#mask2{
    position: absolute;
    display: block;
    color: white;
    max-width: 500px;
    margin-top: 5%;
    left: 5%;
    width: 30vw;
}
#mask3{
    position: absolute;
    display: block;
    color: white;
    margin-top: 10%;
    max-width: 500px;
    right: 5%;
    width: 30vw;
}
#mask4{
    position: absolute;
    display: block;
    color: white;
    margin-top: 25%;
    max-width: 500px;
    right: 9%;
    width: 30vw;
}
@media(max-width: 550px){
    #masks{
        height: 130vh;
        font-size: 1rem !important;
    }
    #mask1{
        margin-top: 24%;
        display: flex;
        width: 60vw;
        margin-left: 10%;
        min-width: auto;
    }
    #mask2{
        position: relative;
        display: block;
        color: white;
        margin-top: 10%;
        width: 80%;
        margin-left: 10vw;
        margin-right: 3vw;
        right:0
    }
    #mask3{
    position: absolute;
    display: block;
    color: white;
    margin-top: 70%;
    max-width: 500px;
    right: 5%;
    width: 70vw;
}
#mask4{
    position: absolute;
    display: block;
    color: white;
    margin-top: 120%;
    max-width: 500px;
    right: 9%;
    width: 80vw;
}
}
@media(max-width: 767px){
    #mask1{
        margin-top: 24%;
        display: flex;
        width: 60vw;
        margin-left: 10%;
        min-width: auto;
    }
    #mask2{
        position: relative;
        display: block;
        color: white;
        margin-top: 10%;
        width: 80%;
        margin-left: 10vw;
        margin-right: 3vw;
        right:0
    }
    #mask3{
    position: absolute;
    display: block;
    color: white;
    margin-top: 70%;
    max-width: 500px;
    right: 5%;
    width: 70vw;
}
#mask4{
    position: absolute;
    display: block;
    color: white;
    margin-top: 120%;
    max-width: 500px;
    right: 9%;
    width: 80vw;
}
}

#routes{
    color: black;
    font-size: 3rem;
    height: 100vh;
}
@media(max-width: 767px){
    #routes{
        font-size: 1.5rem;
    }
}
#route1{
    margin: 5%;
    margin-left: 8%;
    margin-right: 8%;
    width: 100vw;
    background-image: url("https://static.igem.wiki/teams/4162/wiki/index/index/vc-background.png");
    background-position: center;
    background-size: cover;
    align-content: center;
    justify-content: center;
}
@media(max-width: 767px){
    #route1{
        margin: 5%;
        margin-left: 0;
        margin-right: 0;
    }
}
.route_word{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    top: 20%;
    margin-top: 5%;
    margin-right: 35px;
    margin-left: 35px;
    background-color: white;
    opacity: 70%;
}
@media(max-width: 767px){
    .route_word{
        top: 40%;
        margin-top: 2%;
        margin-right: 10%;
        margin-left: 10%;
    }
}
.reasons_word{
    background-color: #598364;
    color: white;
    font-weight: 200;
    opacity: 0.7;
}
#reasons1{
    margin-top: 5%;
}
#reasons1 .reasons_word{
    margin-left: 10vw;
    width: 40vw;
}
#reasons2{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 50vh;
    margin-left: 5vw;
}
#reasons3{
    margin-top: 10%;
}
#reasons3 .reasons_word{
    margin-top: 50%;
    margin-right: 8%;
    margin-bottom: -40%;
    width: 40vw;
}
#reasons4{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    margin-top: 0;
    margin-left: 50vw;

}

@media(max-width: 767px){
    .reasons_word{
        font-size: 1rem !important;
    }
    #reasons1{
        margin-top: 0vh;
        margin-left: -3vw;
    }
    #reasons1 .reasons_word{
        margin-top: 5%;
        width: 90vw;
    }
    #reasons2{
        width: 60vw;
        min-width: auto;
        position: absolute;
        margin-top: 24vh;
        margin-left: 5vw;
    }
    #reasons3{
        margin-right: 10vw;
        margin-left: -75vw;
        margin-top: 60vh;
    }
    #reasons3 .reasons_word{
        margin-top: 50%;
        margin-left: 3%;
        margin-bottom: -60%;
        width: 70vw;
    }
    #reasons4{
        width: 80vw;
        min-width: auto;
        position: absolute;
        margin-top: 105vw;
        margin-left: 10vw;

    }
}
.women_men_word{
    background-color: #598364;
    color: white;
    font-weight: 200;
    opacity: 0.7;
}
#women_men1{
    margin-top: 30vw;
    margin-left: 5vw;

}
#women_men2{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
}
#women_men1 .women_men_word{
    margin-top: 8%;
    margin-left: 6%;
    width: 30vw;
}
#women_men3{
    width: 50vw;
    min-width: 400px;
    position: absolute;
    margin-top: 10vh;
    margin-left: 45vw;
    max-width: 570px;
}
#women_men4{
    margin-top: -5%;
    margin-right: 5%;
    width: 180%;
}
#women_men4 .women_men_word{
    margin-top: 8%;
    width: 60%;
}
#women_men5{
    margin-top: 40%;
    margin-left: -74%;
}
#women_men5 .women_men_word{
    width: 90%;
}

@media(max-width: 767px){
    .women_men_word{
        font-size: 1rem !important;
    }
    #women_men1{
        margin-top: 2vh;
        margin-left: 8vw;
    }
    #women_men1 .women_men_word{
        margin-top: 5%;
        margin-left: 5%;
        width: 70vw;
    }
    #women_men2{
        width: 60vw;
        min-width: auto;
        position: absolute;
        margin-top: 24vh;
        margin-left: 5vw;
    }
    #women_men3{
        margin-left: 50vw;
        margin-top: 75vh;
        min-width: auto;
    }
    #women_men3 .women_men_word{
        margin-top: 50%;
        margin-left: 3%;
        margin-bottom: -60%;
    }
    #women_men4{
        width: 90vw;
 
        position: absolute;
        margin-top: 43vh;
        margin-left: 10vw;

    }
    #women_men5{
        margin-left: -75%;
        margin-top: 164%;
    }
}
.ideas_word{
    background-color: #598364;
    color: white;
    font-weight: 200;
    opacity: 0.7;
}
#ideas1{
    width: 30vw;
    min-width: 400px;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
}
#ideas2{
    margin-top: 30%;
    margin-bottom: -20%;
    margin-left: 6%;
}
#ideas2 .ideas_word{
    margin-top: 8%;
    width: 90%;
}
#ideas3{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    margin-top: 45vh;
    margin-left: 52vw;
    max-width: 570px;
}
#ideas4{
    margin-top: 5%;
    margin-right: 5%;
}
#ideas4 .ideas_word{
    margin-top: 8%;
    width: 90%;
}
@media(max-width: 767px){
    .ideas_word{
        font-size: 1rem !important;
    }
    #ideas1{
        margin-top: 0vh;
        margin-left: 15vw;
        min-width: auto;
        width: 70vw;
    }
    #ideas2{
        width: 70vw;
        position: absolute;
        margin-top: 20vh;
        margin-left: 5vw;
    }
    #ideas3{
        margin-left: 5vw;
        margin-top: 60vh;
        min-width: auto;
        width: 75vw;
    }
    #ideas4{
        width: 70vw;
        position: absolute;
        margin-top: 85vw;
        margin-left: 10vw;

    }
}
#conclusion{
    margin-top: 5%;
    width: 70%;
    background-color: #598364;
    color: white;
}
@media(max-width: 767px){
    #conclusion{
        font-size: 1rem !important;
        width: 85%;
    }
}

#pictures{
    height: unset;
}
#ribozyme{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/ribozyme.jpg");
    background-position: center;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    height: 60vh;
    background-repeat: no-repeat;
}

#tears{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/tears.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
}
@media (max-width: 767px) {
    #ribozyme,
    #tears{
        height: 30vh;
    }
}
#menues{
    height: fit-content;
}
