footer #fudansk{
    background-image: url("https://uploads.igem.org/teams/4162/wiki/footer/fudan-png.png");
    background-position: center;
    background-size: cover;
}
footer #yunf{
    background-image: url("https://uploads.igem.org/teams/4162/wiki/footer/yf-png.png");
    background-position: center;
    background-size: cover;
}
