a{
    color: #ee994d;
    text-decoration: none;
}
code{
    background-color: azure;
}
table {
			width: 90%;
			margin: 10px auto;
			border-collapse: separate;
			border: 3px solid #ee994d;
            padding: 5px;
			border-radius: 10px;
			background-color: #fcf6e6;
            color: black;
            resize: both; overflow: auto;
		}
td {
			height: 25px;
			line-height: 25px;
			text-align: center;
			border: 3px solid #fcf6e6;
            resize: both; overflow: auto;
		}
tr {
			background: #fcf6e6;
			transition: box-shadow 0.8s ease;
            resize: both; overflow: auto;
}
tr:hover {
			box-shadow:2px 2px 4px #ee994d;
		}
.top-bar {
    width: 100%;
    height: 50px;
    margin: 5px;
    display: flex;
}
.carousel{
    padding: 20px;
    margin: 10px;
}
.carousel-item{
    background: #000000;
    height: 20rem;
    color: white;
    padding: 20px;
}
.container-carousel{
    background:initial;
    position: absolute;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.bannertop{
    color: #2b7961;
    text-align: center;
}
@media(min-width: 1200px){
.content{
    margin: 26%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
}
@media(768px<=width<=960pxpx){
.content{
    margin: 15%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
}
@media(max-width: 768px){
.content{
    margin: 3%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
}
.content{ /* test2 */
    margin: 30%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
#landingpage{
    background: #ee994d;
    top: 10%;
    position: fixed;
    position: -webkit-sticky;
    list-style: none;
    padding: 2%;
}
#landingpage li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 1.5
}
.maincontent{
    padding: 20px;
}
body{
    background-color: #f4efd1;
}
footer{
    background-color: #fca847;
}
.site-headerF{
    background-color: #2b7961;
}
img{
    max-width: 100%;
    aspect-ratio: auto;
}
#img1{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/test/pic1.jpg");
    min-height: 30rem;
    background-size: cover;
    background-position: center;
}
#img-text{
    margin-bottom: 10rem;
    text-align: center;
    line-height: 2.2;
    font-size: 0.9rem;
    color: aliceblue;
}
#spanforfooter{
    width: 70%;
    display: block;
    height: 3px;
    margin-top: 20px;
    left: 0;
    right: 0;
}
#navbarmain{
    color: aliceblue;
    background-color:#598364 !important;
}
footer .logos {
    width: 90px;
    height: 90px;
    background-position: center;
    background-size: cover;
}
footer{
    background-color: #ee994d !important;
}
footer .footermenu ul{
    list-style: none;
    padding: 0;
    text-align: left;
}
footer .footermenu ul li a{
    text-decoration: none;
    color: white;
}
