
.carousel{
    padding: 20px;
    margin: 10px;
}
.carousel-item{
    background: #000000;
    height: 20rem;
    color: white;
    padding: 20px;
}
.container-carousel{
    background:initial;
    position: absolute;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
@media(min-width: 1200px){
#content{
    margin: 26%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
}
@media(min-width: 768px){
#content{
    margin: 10%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
}
#content{
    margin: 30%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}

#content1{
    margin: 30%;
    border: 60px;
    padding: 50px;
    background:#2b7961;
    box-shadow: -20px -20px 0px #598364;
    color: white;
    line-height: 3.5;
    font-size: 1.2rem;
}
#landingpage{
    background: #ee994d;
    top: 15%;
    position: fixed;
    position: -webkit-sticky;
    list-style: none;
    padding: 5%;
}
#landingpage li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5
}
.maincontent{
    padding: 20px;
}
body{
    background-color: #f4efd1;
}
footer{
    background-color: #fca847;
}
.site-headerF{
    background-color: #2b7961;
}
#img1{
    background-image: url("https://static.igem.wiki/teams/4162/wiki/test/pic1.jpg");
    min-height: 30rem;
    background-size: cover;
    background-position: center;
}
#img-text{
    margin-bottom: 10rem;
    text-align: center;
    line-height: 2.2;
    font-size: 0.9rem;
    color: aliceblue;
}
#spanforfooter{
    width: 70%;
    display: block;
    height: 3px;
    margin-top: 20px;
    left: 0;
    right: 0;
}
#navbarmain{
    color: aliceblue;
    background-color:#598364 !important;
}
footer #fudansk{
    background-image: url("https://uploads.igem.org/teams/4162/wiki/footer/fudan-png.png");
    background-position: center;
    background-size: cover;
}
footer #yunf{
    background-image: url("https://uploads.igem.org/teams/4162/wiki/footer/yf-png.png");
    background-position: center;
    background-size: cover;
}

